!!!
/[if lt IE 7 ]
  <html
  lang="en" id="top" class="no-js ie6">
/[if IE 7 ]
  <html
  lang="en" id="top" class="no-js ie7">
/[if IE 8 ]
  <html
  lang="en" id="top" class="no-js ie8">
/[if IE 9 ]
  <html
  lang="en" id="top" class="no-js ie9">
/ [if (gt IE 9)|!(IE)]><!
%html#top.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Hazrati Marketplace
    %meta{:content => "We are an online marketplace highly focused on jewelry and watches. Members can register to buy sell or repair jewelry and watches. There is a lot of information provided on our site about jewelry, gemstones etc. Members can list diamond stud earrings, diamond bracelets, diamond pendants, all kind of jewelry etc.", :name => "description"}/
    %meta{:content => "Diamond earrings, diamond studs, diamond bracelets, diamond pendants, gemstone jewelry, gold and silver jewelry, online selling, online marketplace, jewelry repair, watch repair, rolex watches.", :name => "keywords"}/
    %meta{:content => "INDEX,FOLLOW", :name => "robots"}/
    %link{:href => "https://d3c5gpp280u0ho.cloudfront.net/favicon/default/favicon_10.png", :rel => "icon", :type => "image/x-icon"}/
    %link{:href => "https://d3c5gpp280u0ho.cloudfront.net/favicon/default/favicon_10.png", :rel => "shortcut icon", :type => "image/x-icon"}/
    /[if lt IE 7] <script type="text/javascript">var BLANK_URL='https://www.hazrati.com/js/blank.html';var BLANK_IMG='https://www.hazrati.com/js/spacer.gif';</script>
    %link{:href => "https://d3c5gpp280u0ho.cloudfront.net/css_secure/7af57e35e0b6d4473994269d76a47c78.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://d3c5gpp280u0ho.cloudfront.net/css_secure/cd52b4d1b177d6f207e6a7f2ac9c6a82.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://d3c5gpp280u0ho.cloudfront.net/js/1b8d008c6f6b3c9f0762aff704a4e74b.js", :type => "text/javascript"}
    %script{"data-group" => "js001", :src => "https://d3c5gpp280u0ho.cloudfront.net/js/daa9674501e59fe9ec5db54178a9e543.js", :type => "text/javascript"}
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:300,400,500,700,600", :rel => "stylesheet"}/
    %link{:href => "https://www.hazrati.com/rss/catalog/new/store_id/7/", :rel => "alternate", :title => "New Products", :type => "application/rss+xml"}/
    /[if (lte IE 8) & (!IEMobile)]
      <link
      rel="stylesheet" type="text/css" href="https://d3c5gpp280u0ho.cloudfront.net/css_secure/86495397f188f2e02ae487a7810e4bcf.css" media="all" />
    / [if (gte IE 9) | (IEMobile)]><!
    %link{:href => "https://d3c5gpp280u0ho.cloudfront.net/css_secure/4d49f0cf5a31c835a4373e1f4dbac46e.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    / <![endif]
    :javascript
      Mage.Cookies.path='/';Mage.Cookies.domain='.www.hazrati.com';
    %meta{:content => "initial-scale=1.0, width=device-width", :name => "viewport"}/
    :javascript
      optionalZipCountries=["HK","IE","MO","PA"];
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-77812920-1','www.hazrati.com');ga('set','anonymizeIp',true);ga('send','pageview');
    %script{:async => "", :src => "https://cdn.ywxi.net/js/1.js", :type => "text/javascript"}
    :javascript
      var Translator=new Translate([]);
    :javascript
      (function(h,o,t,j,a,r){h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};h._hjSettings={hjid:510991,hjsv:5};a=o.getElementsByTagName('head')[0];r=o.createElement('script');r.async=1;r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;a.appendChild(r);})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  %body.cms-index-index.cms-home
    .wrapper
      %noscript
        .global-site-notice.noscript
          .notice-inner
            %p
              %strong JavaScript seems to be disabled in your browser.
              %br/
              You must have JavaScript enabled in your browser to utilize the functionality of this website.
      .page
        :javascript
          jQuery.noConflict();if(Prototype.BrowserFeatures.ElementExtensions){var disablePrototypeJS=function(method,pluginsToDisable){var handler=function(event){event.target[method]=undefined;setTimeout(function(){delete event.target[method];},0);};pluginsToDisable.each(function(plugin){jQuery(window).on(method+'.bs.'+plugin,handler);});},pluginsToDisable=['collapse','dropdown','modal','tooltip','popover'];disablePrototypeJS('show',pluginsToDisable);disablePrototypeJS('hide',pluginsToDisable);}
        .header-language-background
        %header#header.page-header
          .page-header-container.container
            .row
              .col-sm-4
                %a.logo{:href => "https://www.hazrati.com/"}
                  %img.large{:alt => "Hazrati Marketplace", :src => "https://www.hazrati.com/skin/frontend/hazrati/default/images/logo.png"}/
                  %img.small{:alt => "Hazrati Marketplace", :src => "https://www.hazrati.com/skin/frontend/hazrati/default/images/logo.png"}/
                .store-language-container
              .col-sm-9
                .header-links
                  %ul.links
                    %li.register
                      %a{:href => "https://www.hazrati.com/sellbuy/seller/create/", :title => "Open a Store"}
                        %span Open a Store
                    %li.login
                    %li.register
                      %a{:href => "https://www.hazrati.com/customer/account/create/", :title => "Register"}
                        %span Register
                    %li.login
                      %a.btn{:href => "https://www.hazrati.com/customer/account/login/", :title => "Log In"}
                        %span Log In
                    %li.dropdown
                      %span.glyphicon.glyphicon-shopping-cart
                      %a.dropdown-toggle.skip-cart.no-count{"data-toggle" => "dropdown", :href => "#", :title => "Shopping Cart"}
                        %span.icon
                        %span.title Cart
                      %ul#minicart-dropdown.dropdown-menu
                        #header-cart.block.block-cart
                          #minicart-error-message.minicart-message
                          #minicart-success-message.minicart-message
                          .minicart-wrapper
                            %p.block-subtitle
                              Recently added item(s)
                            %p.empty You have no items in your shopping cart.

          .header-search-bar
            .container
              .row
                .col-xs-4
                  #home-page-browse-function.browse-function
                    #menu_toggle
                      %span Shop by Categories
                      %span.icon
                    %ul#browse_select_option.categorymenu.select.dropdown-menu{:style => "display: none;"}
                      %li
                        %a{:href => "https://www.hazrati.com/body.html"}
                          Body
                      %li
                        %a{:href => "https://www.hazrati.com/bracelets.html"}
                          Bracelets
                      %li
                        %a{:href => "https://www.hazrati.com/brooches-pins.html"}
                          Brooches/Pins
                      %li
                        %a{:href => "https://www.hazrati.com/earrings.html"}
                          Earrings
                      %li
                        %a{:href => "https://www.hazrati.com/men.html"}
                          Men
                      %li
                        %a{:href => "https://www.hazrati.com/necklaces.html"}
                          Necklaces
                      %li
                        %a{:href => "https://www.hazrati.com/rings.html"}
                          Rings
                      %li
                        %a{:href => "https://www.hazrati.com/watches.html"}
                          Watches
                      %li
                        %a{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones.html"}
                          Loose Diamonds and Gemstones
                      %li
                        %a{:href => "https://www.hazrati.com/findings.html"}
                          Findings
                .col-xs-9
                  #header-search
                    %form#search_mini_form.searchautocomplete.UI-SEARCHAUTOCOMPLETE{:action => "https://www.hazrati.com/catalogsearch/result/", "data-delay" => "200", "data-minchars" => "3", "data-tip" => "", "data-url" => "//www.hazrati.com/searchautocomplete/ajax/get/", :method => "get"}
                      .form-search
                        %input#search.input-text.UI-SEARCH.UI-NAV-INPUT{:autocomplete => "off", :maxlength => "128", :name => "q", :type => "text", :value => ""}/
                        %select.cat_select.selectpicker{:name => "cat"}
                          %option{:value => "0"} All
                          %option{:value => "3"}
                            Body
                          %option{:value => "4"}
                            Bracelets
                          %option{:value => "5"}
                            Brooches/Pins
                          %option{:value => "6"}
                            Earrings
                          %option{:value => "199"}
                            Findings
                          %option{:value => "185"}
                            Loose Diamonds and Gemstones
                          %option{:value => "7"}
                            Men
                          %option{:value => "42"}
                            Necklaces
                          %option{:value => "43"}
                            Rings
                          %option{:value => "168"}
                            Watches
                        .searchautocomplete-loader.UI-LOADER
                          #g01
                          #g02
                          #g03
                          #g04
                          #g05
                          #g06
                          #g07
                          #g08
                        #search_hint.searchautocomplete-placeholder{:style => "display:none"}
                        #search_autocomplete.UI-PLACEHOLDER.search-autocomplete.searchautocomplete-placeholder{:style => "display:none"}
                      %button.button.search-button{:title => "Go", :type => "submit"}
                        %span
                          %span Go
        #header-nav.skip-content
          %nav#nav
            %ol.nav-primary
              %li.level0.nav-1.first.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/body.html"} Body
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/body.html"} View All Body
                  %li.level1.nav-1-1.first
                    %a.level1{:href => "https://www.hazrati.com/body/anklet.html"} Anklet
                  %li.level1.nav-1-2
                    %a.level1{:href => "https://www.hazrati.com/body/arm-band.html"} Arm Band
                  %li.level1.nav-1-3
                    %a.level1{:href => "https://www.hazrati.com/body/barbell.html"} Barbell
                  %li.level1.nav-1-4
                    %a.level1{:href => "https://www.hazrati.com/body/belly.html"} Belly
                  %li.level1.nav-1-5
                    %a.level1{:href => "https://www.hazrati.com/body/ear-cuff.html"} Ear cuff
                  %li.level1.nav-1-6
                    %a.level1{:href => "https://www.hazrati.com/body/ear-plug.html"} Plugs
                  %li.level1.nav-1-7
                    %a.level1{:href => "https://www.hazrati.com/body/headpieces.html"} Headpieces
                  %li.level1.nav-1-8
                    %a.level1{:href => "https://www.hazrati.com/body/nose.html"} Nose
                  %li.level1.nav-1-9
                    %a.level1{:href => "https://www.hazrati.com/body/toe-ring.html"} Toe ring
                  %li.level1.nav-1-10.last
                    %a.level1{:href => "https://www.hazrati.com/body/unspecified.html"} Unspecified
              %li.level0.nav-2.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/bracelets.html"} Bracelets
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/bracelets.html"} View All Bracelets
                  %li.level1.nav-2-1.first
                    %a.level1{:href => "https://www.hazrati.com/bracelets/bangle.html"} Bangle
                  %li.level1.nav-2-2
                    %a.level1{:href => "https://www.hazrati.com/bracelets/beaded.html"} Beaded
                  %li.level1.nav-2-3
                    %a.level1{:href => "https://www.hazrati.com/bracelets/chain.html"} Chain
                  %li.level1.nav-2-4
                    %a.level1{:href => "https://www.hazrati.com/bracelets/charm.html"} Charm
                  %li.level1.nav-2-5
                    %a.level1{:href => "https://www.hazrati.com/bracelets/cuff.html"} Cuff
                  %li.level1.nav-2-6
                    %a.level1{:href => "https://www.hazrati.com/bracelets/friendship.html"} Friendship
                  %li.level1.nav-2-7
                    %a.level1{:href => "https://www.hazrati.com/bracelets/id-identification.html"} ID/Identification
                  %li.level1.nav-2-8
                    %a.level1{:href => "https://www.hazrati.com/bracelets/medical-alert.html"} Medical/Alert
                  %li.level1.nav-2-9
                    %a.level1{:href => "https://www.hazrati.com/bracelets/statement.html"} Statement
                  %li.level1.nav-2-10
                    %a.level1{:href => "https://www.hazrati.com/bracelets/tennis.html"} Tennis
                  %li.level1.nav-2-11
                    %a.level1{:href => "https://www.hazrati.com/bracelets/unspecified.html"} Unspecified
                  %li.level1.nav-2-12
                    %a.level1{:href => "https://www.hazrati.com/bracelets/link.html"} Link
                  %li.level1.nav-2-13.last
                    %a.level1{:href => "https://www.hazrati.com/bracelets/stretch.html"} Stretch
              %li.level0.nav-3.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/brooches-pins.html"} Brooches/Pins
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/brooches-pins.html"} View All Brooches/Pins
                  %li.level1.nav-3-1.first
                    %a.level1{:href => "https://www.hazrati.com/brooches-pins/animal.html"} Animal
                  %li.level1.nav-3-2
                    %a.level1{:href => "https://www.hazrati.com/brooches-pins/cameo.html"} Cameo
                  %li.level1.nav-3-3
                    %a.level1{:href => "https://www.hazrati.com/brooches-pins/celtic.html"} Celtic
                  %li.level1.nav-3-4
                    %a.level1{:href => "https://www.hazrati.com/brooches-pins/circle.html"} Circle
                  %li.level1.nav-3-5
                    %a.level1{:href => "https://www.hazrati.com/brooches-pins/cluster.html"} Cluster
                  %li.level1.nav-3-6
                    %a.level1{:href => "https://www.hazrati.com/brooches-pins/flower.html"} Flower
                  %li.level1.nav-3-7
                    %a.level1{:href => "https://www.hazrati.com/brooches-pins/medal.html"} Medal
                  %li.level1.nav-3-8.last
                    %a.level1{:href => "https://www.hazrati.com/brooches-pins/unspecified.html"} Unspecified
              %li.level0.nav-4.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/earrings.html"} Earrings
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/earrings.html"} View All Earrings
                  %li.level1.nav-4-1.first
                    %a.level1{:href => "https://www.hazrati.com/earrings/chandelier.html"} Chandelier
                  %li.level1.nav-4-2
                    %a.level1{:href => "https://www.hazrati.com/earrings/clip-on.html"} Clip-on
                  %li.level1.nav-4-3
                    %a.level1{:href => "https://www.hazrati.com/earrings/cluster.html"} Cluster
                  %li.level1.nav-4-4
                    %a.level1{:href => "https://www.hazrati.com/earrings/drop-dangle.html"} Drop/Dangle
                  %li.level1.nav-4-5
                    %a.level1{:href => "https://www.hazrati.com/earrings/hoop.html"} Hoop
                  %li.level1.nav-4-6
                    %a.level1{:href => "https://www.hazrati.com/earrings/huggie.html"} Huggie
                  %li.level1.nav-4-7
                    %a.level1{:href => "https://www.hazrati.com/earrings/jacket.html"} Jacket
                  %li.level1.nav-4-8
                    %a.level1{:href => "https://www.hazrati.com/earrings/stick.html"} Stick
                  %li.level1.nav-4-9
                    %a.level1{:href => "https://www.hazrati.com/earrings/stud.html"} Stud/Post
                  %li.level1.nav-4-10
                    %a.level1{:href => "https://www.hazrati.com/earrings/threader.html"} Threader
                  %li.level1.nav-4-11
                    %a.level1{:href => "https://www.hazrati.com/earrings/unspecified.html"} Unspecified
                  %li.level1.nav-4-12.last
                    %a.level1{:href => "https://www.hazrati.com/earrings/leverbacks.html"} Leverbacks
              %li.level0.nav-5.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/findings.html"} Findings
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/findings.html"} View All Findings
                  %li.level1.nav-5-1.first
                    %a.level1{:href => "https://www.hazrati.com/findings/key-chains.html"} Key Chains
                  %li.level1.nav-5-2.parent
                    %a.level1.has-children{:href => "https://www.hazrati.com/findings/earring-components.html"} Earring Components
                    %ul.level1
                      %li.level2
                        %a.level2{:href => "https://www.hazrati.com/findings/earring-components.html"} View All Earring Components
                      %li.level2.nav-5-2-1.first
                        %a.level2{:href => "https://www.hazrati.com/findings/earring-components/leverback.html"} Leverback
                      %li.level2.nav-5-2-2
                        %a.level2{:href => "https://www.hazrati.com/findings/earring-components/french-wire.html"} Wire
                      %li.level2.nav-5-2-3
                        %a.level2{:href => "https://www.hazrati.com/findings/earring-components/slider.html"} Slider
                      %li.level2.nav-5-2-4
                        %a.level2{:href => "https://www.hazrati.com/findings/earring-components/post.html"} Post
                      %li.level2.nav-5-2-5
                        %a.level2{:href => "https://www.hazrati.com/findings/earring-components/omega-clip.html"} Clip
                      %li.level2.nav-5-2-6
                        %a.level2{:href => "https://www.hazrati.com/findings/earring-components/nut.html"} Nut
                      %li.level2.nav-5-2-7
                        %a.level2{:href => "https://www.hazrati.com/findings/earring-components/hook.html"} Hook
                      %li.level2.nav-5-2-8.last
                        %a.level2{:href => "https://www.hazrati.com/findings/earring-components/casting.html"} Casting
                  %li.level1.nav-5-3.parent
                    %a.level1.has-children{:href => "https://www.hazrati.com/findings/ring-components.html"} Ring Components
                    %ul.level1
                      %li.level2
                        %a.level2{:href => "https://www.hazrati.com/findings/ring-components.html"} View All Ring Components
                      %li.level2.nav-5-3-1.first
                        %a.level2{:href => "https://www.hazrati.com/findings/ring-components/ring-guards.html"} Ring Guards
                      %li.level2.nav-5-3-2
                        %a.level2{:href => "https://www.hazrati.com/findings/ring-components/heads.html"} Heads
                      %li.level2.nav-5-3-3
                        %a.level2{:href => "https://www.hazrati.com/findings/ring-components/mountings.html"} Mountings
                      %li.level2.nav-5-3-4.last
                        %a.level2{:href => "https://www.hazrati.com/findings/ring-components/shanks.html"} Shanks
                  %li.level1.nav-5-4.parent
                    %a.level1.has-children{:href => "https://www.hazrati.com/findings/bracelet-necklace-components.html"} Bracelet &amp; Necklace Components
                    %ul.level1
                      %li.level2
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components.html"} View All Bracelet &amp; Necklace Components
                      %li.level2.nav-5-4-1.first
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components/link.html"} Link
                      %li.level2.nav-5-4-2
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components/beads.html"} Bead
                      %li.level2.nav-5-4-3
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components/charms.html"} Charm
                      %li.level2.nav-5-4-4
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components/id-plates.html"} ID Plate
                      %li.level2.nav-5-4-5
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components/clasp.html"} Clasp
                      %li.level2.nav-5-4-6
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components/extenders.html"} Extender
                      %li.level2.nav-5-4-7
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components/casting.html"} Casting
                      %li.level2.nav-5-4-8
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components/bail.html"} Bail
                      %li.level2.nav-5-4-9.last
                        %a.level2{:href => "https://www.hazrati.com/findings/bracelet-necklace-components/spacer.html"} Spacer
                  %li.level1.nav-5-5.last.parent
                    %a.level1.has-children{:href => "https://www.hazrati.com/findings/cuff-link-components.html"} Cuff Link Components
                    %ul.level1
                      %li.level2
                        %a.level2{:href => "https://www.hazrati.com/findings/cuff-link-components.html"} View All Cuff Link Components
                      %li.level2.nav-5-5-1.first.last
                        %a.level2{:href => "https://www.hazrati.com/findings/cuff-link-components/setting.html"} Setting
              %li.level0.nav-6.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones.html"} Loose Diamonds and Gemstones
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones.html"} View All Loose Diamonds and Gemstones
                  %li.level1.nav-6-1.first.parent
                    %a.level1.has-children{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds.html"} Loose Diamonds
                    %ul.level1
                      %li.level2
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds.html"} View All Loose Diamonds
                      %li.level2.nav-6-1-1.first
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/asscher.html"} Asscher
                      %li.level2.nav-6-1-2
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/cushion.html"} Cushion
                      %li.level2.nav-6-1-3
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/emerald.html"} Emerald
                      %li.level2.nav-6-1-4
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/heart.html"} Heart
                      %li.level2.nav-6-1-5
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/marquise.html"} Marquise
                      %li.level2.nav-6-1-6
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/oval.html"} Oval
                      %li.level2.nav-6-1-7
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/pear.html"} Pear
                      %li.level2.nav-6-1-8
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/princess.html"} Princess
                      %li.level2.nav-6-1-9
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/radiant.html"} Radiant
                      %li.level2.nav-6-1-10
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/round.html"} Round
                      %li.level2.nav-6-1-11.last
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/loose-diamonds/trilliant.html"} Trilliant
                  %li.level1.nav-6-2.last.parent
                    %a.level1.has-children{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones.html"} Gemstones
                    %ul.level1
                      %li.level2
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones.html"} View All Gemstones
                      %li.level2.nav-6-2-1.first
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/sapphire.html"} Sapphire
                      %li.level2.nav-6-2-2
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/tourmaline.html"} Tourmaline
                      %li.level2.nav-6-2-3
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/emerald.html"} Emerald
                      %li.level2.nav-6-2-4
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/aquamarine.html"} Aquamarine
                      %li.level2.nav-6-2-5
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/citrine.html"} Citrine
                      %li.level2.nav-6-2-6
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/peridot.html"} Peridot
                      %li.level2.nav-6-2-7
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/ruby.html"} Ruby
                      %li.level2.nav-6-2-8
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/garnet.html"} Garnet
                      %li.level2.nav-6-2-9
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/amethyst.html"} Amethyst
                      %li.level2.nav-6-2-10
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/tanzanite.html"} Tanzanite
                      %li.level2.nav-6-2-11
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/zircon.html"} Zircon
                      %li.level2.nav-6-2-12
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/turquoise.html"} Turquoise
                      %li.level2.nav-6-2-13
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/pearl.html"} Pearl
                      %li.level2.nav-6-2-14
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/alexandrite.html"} Alexandrite
                      %li.level2.nav-6-2-15
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/sardonyx.html"} Sardonyx
                      %li.level2.nav-6-2-16
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/spinel.html"} Spinel
                      %li.level2.nav-6-2-17
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/opal.html"} Opal
                      %li.level2.nav-6-2-18
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/topaz.html"} Topaz
                      %li.level2.nav-6-2-19.last
                        %a.level2{:href => "https://www.hazrati.com/loose-diamonds-and-gemstones/gemstones/diamond-synthetic.html"} Diamond - Synthetic
              %li.level0.nav-7.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/men.html"} Men
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/men.html"} View All Men
                  %li.level1.nav-7-1.first
                    %a.level1{:href => "https://www.hazrati.com/men/bracelets.html"} Bracelets
                  %li.level1.nav-7-2
                    %a.level1{:href => "https://www.hazrati.com/men/cufflinks.html"} Cufflinks
                  %li.level1.nav-7-3
                    %a.level1{:href => "https://www.hazrati.com/men/earring.html"} Earring
                  %li.level1.nav-7-4
                    %a.level1{:href => "https://www.hazrati.com/men/necklace.html"} Necklace
                  %li.level1.nav-7-5
                    %a.level1{:href => "https://www.hazrati.com/men/necktie-accessories.html"} Necktie accessories
                  %li.level1.nav-7-6
                    %a.level1{:href => "https://www.hazrati.com/men/rings.html"} Rings
                  %li.level1.nav-7-7.last
                    %a.level1{:href => "https://www.hazrati.com/men/unspecified.html"} Unspecified
              %li.level0.nav-8.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/necklaces.html"} Necklaces
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/necklaces.html"} View All Necklaces
                  %li.level1.nav-8-1.first
                    %a.level1{:href => "https://www.hazrati.com/necklaces/chain.html"} Chain
                  %li.level1.nav-8-2
                    %a.level1{:href => "https://www.hazrati.com/necklaces/choker.html"} Choker
                  %li.level1.nav-8-3
                    %a.level1{:href => "https://www.hazrati.com/necklaces/cluster.html"} Cluster
                  %li.level1.nav-8-4
                    %a.level1{:href => "https://www.hazrati.com/necklaces/collar.html"} Collar
                  %li.level1.nav-8-5
                    %a.level1{:href => "https://www.hazrati.com/necklaces/locket.html"} Locket
                  %li.level1.nav-8-6
                    %a.level1{:href => "https://www.hazrati.com/necklaces/pendant.html"} Pendant
                  %li.level1.nav-8-7
                    %a.level1{:href => "https://www.hazrati.com/necklaces/strand-string.html"} Strand/String
                  %li.level1.nav-8-8
                    %a.level1{:href => "https://www.hazrati.com/necklaces/unspecified.html"} Unspecified
                  %li.level1.nav-8-9
                    %a.level1{:href => "https://www.hazrati.com/necklaces/tennis.html"} Tennis
                  %li.level1.nav-8-10
                    %a.level1{:href => "https://www.hazrati.com/necklaces/slides.html"} Slides
                  %li.level1.nav-8-11.last
                    %a.level1{:href => "https://www.hazrati.com/necklaces/locket-2.html"} Locket
              %li.level0.nav-9.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/rings.html"} Rings
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/rings.html"} View All Rings
                  %li.level1.nav-9-1.first
                    %a.level1{:href => "https://www.hazrati.com/rings/class-school.html"} Class/School
                  %li.level1.nav-9-2
                    %a.level1{:href => "https://www.hazrati.com/rings/claddagh.html"} Claddagh
                  %li.level1.nav-9-3.parent
                    %a.level1.has-children{:href => "https://www.hazrati.com/rings/band.html"} Band
                    %ul.level1
                      %li.level2
                        %a.level2{:href => "https://www.hazrati.com/rings/band.html"} View All Band
                      %li.level2.nav-9-3-1.first
                        %a.level2{:href => "https://www.hazrati.com/rings/band/engagement-wedding-ring-sets.html"} Engagement/Wedding Ring Sets
                      %li.level2.nav-9-3-2
                        %a.level2{:href => "https://www.hazrati.com/rings/band/eternity.html"} Eternity
                      %li.level2.nav-9-3-3
                        %a.level2{:href => "https://www.hazrati.com/rings/band/journey.html"} Journey
                      %li.level2.nav-9-3-4
                        %a.level2{:href => "https://www.hazrati.com/rings/band/rolling.html"} Rolling
                      %li.level2.nav-9-3-5
                        %a.level2{:href => "https://www.hazrati.com/rings/band/signet.html"} Signet
                      %li.level2.nav-9-3-6
                        %a.level2{:href => "https://www.hazrati.com/rings/band/solitaire.html"} Solitaire
                      %li.level2.nav-9-3-7
                        %a.level2{:href => "https://www.hazrati.com/rings/band/spinner.html"} Spinner
                      %li.level2.nav-9-3-8
                        %a.level2{:href => "https://www.hazrati.com/rings/band/three-stone.html"} Three-Stone
                      %li.level2.nav-9-3-9
                        %a.level2{:href => "https://www.hazrati.com/rings/band/wrap.html"} Wrap
                      %li.level2.nav-9-3-10.last
                        %a.level2{:href => "https://www.hazrati.com/rings/band/unspecified.html"} Unspecified
                  %li.level1.nav-9-4
                    %a.level1{:href => "https://www.hazrati.com/rings/cluster.html"} Cluster
                  %li.level1.nav-9-5
                    %a.level1{:href => "https://www.hazrati.com/rings/cocktail.html"} Cocktail
                  %li.level1.nav-9-6.parent
                    %a.level1.has-children{:href => "https://www.hazrati.com/rings/engagement-rings.html"} Engagement Rings
                    %ul.level1
                      %li.level2
                        %a.level2{:href => "https://www.hazrati.com/rings/engagement-rings.html"} View All Engagement Rings
                      %li.level2.nav-9-6-1.first
                        %a.level2{:href => "https://www.hazrati.com/rings/engagement-rings/antique.html"} Antique
                      %li.level2.nav-9-6-2
                        %a.level2{:href => "https://www.hazrati.com/rings/engagement-rings/fancy.html"} Fancy
                      %li.level2.nav-9-6-3.parent
                        %a.level2.has-children{:href => "https://www.hazrati.com/rings/engagement-rings/halo.html"} Halo
                        %ul.level2
                          %li.level3
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/halo.html"} View All Halo
                          %li.level3.nav-9-6-3-1.first
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/halo/asscher.html"} Asscher
                          %li.level3.nav-9-6-3-2
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/halo/emerald.html"} Emerald
                          %li.level3.nav-9-6-3-3
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/halo/marquise.html"} Marquise
                          %li.level3.nav-9-6-3-4
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/halo/oval.html"} Oval
                          %li.level3.nav-9-6-3-5
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/halo/pear.html"} Pear
                          %li.level3.nav-9-6-3-6
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/halo/princess.html"} Princess
                          %li.level3.nav-9-6-3-7
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/halo/round.html"} Round
                          %li.level3.nav-9-6-3-8.last
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/halo/unspecified.html"} Unspecified
                      %li.level2.nav-9-6-4.parent
                        %a.level2.has-children{:href => "https://www.hazrati.com/rings/engagement-rings/mountings.html"} Mountings
                        %ul.level2
                          %li.level3
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings.html"} View All Mountings
                          %li.level3.nav-9-6-4-1.first
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/baguette-side-stones.html"} Baguette side stones
                          %li.level3.nav-9-6-4-2
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/combination-side-stones.html"} Combination side stones
                          %li.level3.nav-9-6-4-3
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/emerald-side-stones.html"} Emerald side stones
                          %li.level3.nav-9-6-4-4
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/half-moon-side-stones.html"} Half moon side stones
                          %li.level3.nav-9-6-4-5
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/heart-side-stones.html"} Heart side stones
                          %li.level3.nav-9-6-4-6
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/marquise-side-stones.html"} Marquise side stones
                          %li.level3.nav-9-6-4-7
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/oval-side-stones.html"} Oval side stones
                          %li.level3.nav-9-6-4-8
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/pear-side-stones.html"} Pear side stones
                          %li.level3.nav-9-6-4-9
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/princess-side-stones.html"} Princess side stones
                          %li.level3.nav-9-6-4-10
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/round-side-stones.html"} Round side stones
                          %li.level3.nav-9-6-4-11
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/trapezoid-side-stones.html"} Trapezoid side stones
                          %li.level3.nav-9-6-4-12
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/trillion-side-stones.html"} Trillion side stones
                          %li.level3.nav-9-6-4-13.last
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/mountings/unspecified.html"} Unspecified
                      %li.level2.nav-9-6-5.parent
                        %a.level2.has-children{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires.html"} Solitaires
                        %ul.level2
                          %li.level3
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires.html"} View All Solitaires
                          %li.level3.nav-9-6-5-1.first
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/asscher.html"} Asscher
                          %li.level3.nav-9-6-5-2
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/cushion.html"} Cushion
                          %li.level3.nav-9-6-5-3
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/emerald.html"} Emerald
                          %li.level3.nav-9-6-5-4
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/heart.html"} Heart
                          %li.level3.nav-9-6-5-5
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/marquise.html"} Marquise
                          %li.level3.nav-9-6-5-6
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/oval.html"} Oval
                          %li.level3.nav-9-6-5-7
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/pear.html"} Pear
                          %li.level3.nav-9-6-5-8
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/princess.html"} Princess
                          %li.level3.nav-9-6-5-9
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/round.html"} Round
                          %li.level3.nav-9-6-5-10
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/trillion.html"} Trillion
                          %li.level3.nav-9-6-5-11.last
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/solitaires/unspecified.html"} Unspecified
                      %li.level2.nav-9-6-6.parent
                        %a.level2.has-children{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone.html"} Three stone
                        %ul.level2
                          %li.level3
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone.html"} View All Three stone
                          %li.level3.nav-9-6-6-1.first
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone/combination.html"} Combination
                          %li.level3.nav-9-6-6-2
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone/emerald.html"} Emerald
                          %li.level3.nav-9-6-6-3
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone/marquise.html"} Marquise
                          %li.level3.nav-9-6-6-4
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone/oval.html"} Oval
                          %li.level3.nav-9-6-6-5
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone/princess.html"} Princess
                          %li.level3.nav-9-6-6-6
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone/round.html"} Round
                          %li.level3.nav-9-6-6-7
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone/unspecified.html"} Unspecified
                          %li.level3.nav-9-6-6-8.last
                            %a.level3{:href => "https://www.hazrati.com/rings/engagement-rings/three-stone/radiant.html"} Radiant
                      %li.level2.nav-9-6-7.last
                        %a.level2{:href => "https://www.hazrati.com/rings/engagement-rings/semi-mount.html"} Semi Mount
                  %li.level1.nav-9-7
                    %a.level1{:href => "https://www.hazrati.com/rings/unspecified.html"} Unspecified
                  %li.level1.nav-9-8
                    %a.level1{:href => "https://www.hazrati.com/rings/wrap.html"} Wrap
                  %li.level1.nav-9-9
                    %a.level1{:href => "https://www.hazrati.com/rings/signet.html"} Signet
                  %li.level1.nav-9-10.last.parent
                    %a.level1.has-children{:href => "https://www.hazrati.com/rings/gemstone-rings.html"} Gemstone Rings
                    %ul.level1
                      %li.level2
                        %a.level2{:href => "https://www.hazrati.com/rings/gemstone-rings.html"} View All Gemstone Rings
                      %li.level2.nav-9-10-1.first
                        %a.level2{:href => "https://www.hazrati.com/rings/gemstone-rings/garnet.html"} Garnet
                      %li.level2.nav-9-10-2
                        %a.level2{:href => "https://www.hazrati.com/rings/gemstone-rings/peridot.html"} Peridot
                      %li.level2.nav-9-10-3
                        %a.level2{:href => "https://www.hazrati.com/rings/gemstone-rings/sapphire.html"} Sapphire
                      %li.level2.nav-9-10-4.last
                        %a.level2{:href => "https://www.hazrati.com/rings/gemstone-rings/amethyst.html"} Amethyst
              %li.level0.nav-10.last.parent
                %a.level0.has-children{:href => "https://www.hazrati.com/watches.html"} Watches
                %ul.level0
                  %li.level1
                    %a.level1{:href => "https://www.hazrati.com/watches.html"} View All Watches
                  %li.level1.nav-10-1.first
                    %a.level1{:href => "https://www.hazrati.com/watches/a-lange-sohne.html"} A. Lange &amp; Sohne
                  %li.level1.nav-10-2
                    %a.level1{:href => "https://www.hazrati.com/watches/audemars-piguet.html"} Audemars Piguet
                  %li.level1.nav-10-3
                    %a.level1{:href => "https://www.hazrati.com/watches/baume-mercier.html"} Baume &amp; Mercier
                  %li.level1.nav-10-4
                    %a.level1{:href => "https://www.hazrati.com/watches/bell-ross.html"} Bell &amp; Ross
                  %li.level1.nav-10-5
                    %a.level1{:href => "https://www.hazrati.com/watches/breitling.html"} Breitling
                  %li.level1.nav-10-6
                    %a.level1{:href => "https://www.hazrati.com/watches/cartier.html"} Cartier
                  %li.level1.nav-10-7
                    %a.level1{:href => "https://www.hazrati.com/watches/chopard.html"} Chopard
                  %li.level1.nav-10-8
                    %a.level1{:href => "https://www.hazrati.com/watches/iwc.html"} IWC
                  %li.level1.nav-10-9
                    %a.level1{:href => "https://www.hazrati.com/watches/jacob-co.html"} Jacob &amp; Co
                  %li.level1.nav-10-10
                    %a.level1{:href => "https://www.hazrati.com/watches/jaeger-lecoultre.html"} Jaeger-LeCoultre
                  %li.level1.nav-10-11
                    %a.level1{:href => "https://www.hazrati.com/watches/patek-philippe.html"} Patek Philippe
                  %li.level1.nav-10-12
                    %a.level1{:href => "https://www.hazrati.com/watches/rolex.html"} Rolex
                  %li.level1.nav-10-13
                    %a.level1{:href => "https://www.hazrati.com/watches/tag-heuer.html"} TAG Heuer
                  %li.level1.nav-10-14
                    %a.level1{:href => "https://www.hazrati.com/watches/unspecified.html"} Unspecified
                  %li.level1.nav-10-15.last
                    %a.level1{:href => "https://www.hazrati.com/watches/watch-parts.html"} Watch Parts
        :javascript
          var $j=jQuery.noConflict();jQuery(document).ready(function(){var ll=jQuery(window).width();if(ll==320||ll==1000)
          {jQuery("#mp_top_nav li.mp_engage_tab").click(function(){jQuery("#mp_top_nav li.mp_engage_tab ul").toggle()});jQuery("#mp_top_nav li.mp_sellers").click(function(){jQuery("#mp_top_nav li.mp_sellers ul").toggle()});jQuery("#mp_top_nav li.mp_sellers_tab").click(function(){jQuery("#mp_top_nav li.mp_sellers_tab ul").toggle()});}});
        :javascript
          function registerClicks()
          {document.getElementById('register_click').click();}
          jQuery('html').click(function(){jQuery('#browse_select_option').hide();})
          jQuery('#home-page-browse-function').click(function(e){e.stopPropagation();});jQuery('#menu_toggle').click(function(e){jQuery('#browse_select_option').slideToggle("fast");});
        .main-container.homepage-layout
          .main
            #amfpc-global_messages
            %script{:type => "application/ld+json"}
              :cdata
                {"@context":"http://schema.org","@type":"WebSite","url":"https://www.hazrati.com/","potentialAction":{"@type":"SearchAction","target":"https://www.hazrati.com/catalogsearch/result/index/?q={search_term_string}","query-input":"required name=search_term_string"}}
            .std
              #amfpc-messages
              .homepage-contents{:style => "display: none;"} 
            #banner_11423794670.banner_home
              .owl-carousel
                .item
                  %img{:alt => "banner1", :src => "https://d3c5gpp280u0ho.cloudfront.net/apptha_banners/banner1_4.jpg"}/
                .item
                  %img{:alt => "Banner 3", :src => "https://d3c5gpp280u0ho.cloudfront.net/apptha_banners/banner_4_3.jpg"}/
                .item
                  %img{:alt => "Banner 4", :src => "https://d3c5gpp280u0ho.cloudfront.net/apptha_banners/banner5_2.jpg"}/
                .item
                  %img{:alt => "Banner 5", :src => "https://d3c5gpp280u0ho.cloudfront.net/apptha_banners/banner3_4.jpg"}/
                .item
                  %img{:alt => "Banner 6", :src => "https://d3c5gpp280u0ho.cloudfront.net/apptha_banners/banner6_2.jpg"}/
              #amfpc-top_seller_list
            :javascript
              APPTHA(document).ready(function($){$("#banner_11423794670 > .owl-carousel").owlCarousel({navigation:0,slideSpeed:700,singleItem:true,transitionStyle:"fade",autoPlay:true,responsiveBaseWidth:window,touchDrag:true,autoHeight:true,});});
            %section#browse_marketplace.home_browse_box
              .container
                .row
                  .col-md-13
                    %h3 Jewelry &amp; Watches Marketplace
                    %p.subtitle Browse millions of beautiful products
                .row
                  .col-md-13
                    .trending_box.trending_marketplaces
                      %ul
                        %li
                          .item
                            .large
                              %a{:href => "https://www.hazrati.com/size-6-diamond-anniversary-ring-14k-white-gold.html"}
                                %img{:alt => "Size 6 Diamond anniversary Ring 14k White Gold ", :height => "238", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/311x238/17f82f742ffe127f42dca9de82fb58b1/3/5/351426.jpg", :width => "311"}/
                              .prod_info
                                %h4 Size 6 Diamond anniversary Ring 14k White Gold
                                .price $6,290.00
                                .clear
                            .prod_thumbs
                              %ul
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/size-7-prong-set-diamond-engagement-ring-white-gold-14k.html"}
                                    %img{:alt => "Size 7 Prong Set Diamond Engagement Ring White Gold 14k ", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/3/5/351430.jpg", :width => "92"}/
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/white-gold-14k-diamond-engagement-ring-sizeable.html"}
                                    %img{:alt => "White Gold 14k Diamond Engagement Ring Sizeable  ", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/3/5/351428.jpg", :width => "92"}/
                                %li.thumb.count
                                  %a{:href => "https://www.hazrati.com/david-s-jewelry/", :style => "text-decoration:none"}
                                    %span.count 1529
                                    %span items
                              .clear
                            .seller_info
                              .thumb
                                %a{:href => "https://www.hazrati.com/david-s-jewelry/"}
                                  %img{:alt => "David's Jewelry", :height => "54", :src => "https://www.hazrati.com/media/sellbuy/resized/blue_diamond_and_pink_cushion_5_White_Metal.jpg", :width => "54"}/
                              .info
                                %p.name Warner David
                                %p.shop_title
                                  %a{:href => "https://www.hazrati.com/david-s-jewelry/"}>
                                    %strong David's Jewelry
                                  shop
                                %p.contact From TX, United States
                              .clear
                        %li
                          .item
                            .large
                              %a{:href => "https://www.hazrati.com/0-51-carat-natural-fancy-deep-brownish-orangy-round-shape-si1-clarity-gia.html"}
                                %img{:alt => "0.51 Carat, Loose diamond Natural Fancy Deep Brownish Orangy, Round Shape, SI1 Clarity, GIA", :height => "238", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/311x238/17f82f742ffe127f42dca9de82fb58b1/e/e/ee152b1ea18b0cf00a35048a4eb8192b__51-carat-natural-fancy-deep-brownish-orangy-round-shape-si1-clarity-gia.jpg", :width => "311"}/
                              .prod_info
                                %h4 0.51 Carat, Loose diamond Natural Fancy Deep Brownish Ora...
                                .price $2,842.92
                                .clear
                            .prod_thumbs
                              %ul
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/1-94-carat-natural-fancy-deep-brownish-orangy-yellow-radiant-shape-vvs2-clarity-gia.html"}
                                    %img{:alt => "1.94 Carat, Loose diamond Natural Fancy Deep Brownish Orangy Yellow, Radiant Shape, VVS2 Clarity, GIA", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/4/e/4e0861edf05d6f427d21e27536303473__94-carat-natural-fancy-deep-brownish-orangy-yellow-radiant-shape-vvs2-clarity-gia.jpg", :width => "92"}/
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/4-02-carat-exquisite-flower-ring-with-marquise-diamonds-si2-clarity-7-70gr.html"}
                                    %img{:alt => "4.02 Carat Exquisite Flower Ring with Marquise Diamonds, SI2 Clarity, 7.70gr.", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/2/9/2985adaa1b4621d7d0089d05cc7de581__02-carat-exquisite-flower-ring-with-marquise-diamonds-si2-clarity-770gr.jpg", :width => "92"}/
                                %li.thumb.count
                                  %a{:href => "https://www.hazrati.com/ws-vault/", :style => "text-decoration:none"}
                                    %span.count 401
                                    %span items
                              .clear
                            .seller_info
                              .thumb
                                %a{:href => "https://www.hazrati.com/ws-vault/"}
                                  %img{:alt => "WS_vault", :height => "54", :src => "https://www.hazrati.com/media/sellbuy/resized/images.jpg", :width => "54"}/
                              .info
                                %p.name Shane Watson
                                %p.shop_title
                                  %a{:href => "https://www.hazrati.com/ws-vault/"}>
                                    %strong WS_vault
                                  shop
                                %p.contact From TX, United States
                              .clear
                        %li
                          .item
                            .large
                              %a{:href => "https://www.hazrati.com/stainless-steel-etched-roman-numeral-ring-45247.html"}
                                %img{:alt => "Stainless Steel Etched Roman Numeral Women Ring", :height => "238", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/311x238/17f82f742ffe127f42dca9de82fb58b1/3/6/36d5ee8df336c6799d1aacaad851918d__SS5003x01-600x600.jpg", :width => "311"}/
                              .prod_info
                                %h4 Stainless Steel Etched Roman Numeral Women Ring
                                .price $55.92
                                .clear
                            .prod_thumbs
                              %ul
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/stainless-steel-polished-turquoise-fleur-de-lis-ring.html"}
                                    %img{:alt => "Stainless Steel Polished Turquoise Fleur De Lis Men Ring", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/d/6/d648c66c9aa5de941b8a14062da4f856__SS879x01-600x600.jpg", :width => "92"}/
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/women-s-stainless-steel-intertwined-triple-band-ring.html"}
                                    %img{:alt => "Women's Stainless Steel Intertwined Triple wrap Band Ring", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/c/b/cb1c5f183ae6853fbc4c86e0f0019ee6__SS5320x01-600x600.jpg", :width => "92"}/
                                %li.thumb.count
                                  %a{:href => "https://www.hazrati.com/wendy-diamonds/", :style => "text-decoration:none"}
                                    %span.count 451
                                    %span items
                              .clear
                            .seller_info
                              .thumb
                                %a{:href => "https://www.hazrati.com/wendy-diamonds/"}
                                  %img{:alt => "Wendy_diamonds", :height => "54", :src => "https://www.hazrati.com/media/sellbuy/resized/121.jpg", :width => "54"}/
                              .info
                                %p.name Mellisa Wendy
                                %p.shop_title
                                  %a{:href => "https://www.hazrati.com/wendy-diamonds/"}>
                                    %strong Wendy_diamonds
                                  shop
                                %p.contact From California, United States
                              .clear
                        %li
                          .item
                            .large
                              %a{:href => "https://www.hazrati.com/engraved-wedding-3mm-comfort-fit-band-white-gold-14k-size-7.html"}
                                %img{:alt => "Engraved Wedding 3mm Comfort-Fit Band White Gold 14k Size 7", :height => "238", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/311x238/17f82f742ffe127f42dca9de82fb58b1/D/2/D25752.jpg", :width => "311"}/
                              .prod_info
                                %h4 Engraved Wedding 3mm Comfort-Fit Band White Gold 14k Size 7
                                .price $710.00
                                .clear
                            .prod_thumbs
                              %ul
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/7-5mm-white-gold-14k-hand-engraved-wedding-band-size-11.html"}
                                    %img{:alt => "7.5mm White Gold 14K Hand-Engraved Wedding Band Size 11", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/D/2/D25763.jpg", :width => "92"}/
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/hand-engraved-platinum-love-wedding-band-size-7mm.html"}
                                    %img{:alt => "Hand engraved platinum love wedding band size 7mm", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/D/2/D25750.jpg", :width => "92"}/
                                %li.thumb.count
                                  %a{:href => "https://www.hazrati.com/dianagold/", :style => "text-decoration:none"}
                                    %span.count 14
                                    %span items
                              .clear
                            .seller_info
                              .thumb
                                %a{:href => "https://www.hazrati.com/dianagold/"}
                                  %img{:alt => "DianaGold", :height => "54", :src => "https://www.hazrati.com/media/sellbuy/resized/128.jpg", :width => "54"}/
                              .info
                                %p.name Diana Kery
                                %p.shop_title
                                  %a{:href => "https://www.hazrati.com/dianagold/"}>
                                    %strong DianaGold
                                  shop
                                %p.contact From New York, United States
                              .clear
                        %li
                          .item
                            .large
                              %a{:href => "https://www.hazrati.com/wedding-band-size-8-yellow-white-gold-14k-6mm.html"}
                                %img{:alt => "Wedding Band Size 8 Yellow & White Gold 14k 6mm ", :height => "238", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/311x238/17f82f742ffe127f42dca9de82fb58b1/2/8/28523.jpg", :width => "311"}/
                              .prod_info
                                %h4 Wedding Band Size 8 Yellow &amp; White Gold 14k 6mm
                                .price $710.00
                                .clear
                            .prod_thumbs
                              %ul
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/5mm-heavy-comfort-fit-wedding-band-white-gold-14k.html"}
                                    %img{:alt => "5mm Heavy Comfort Fit Wedding Band White Gold 14k", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/2/8/28511.jpg", :width => "92"}/
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/white-gold-14k-5mm-comfort-fit-flat-wedding-band.html"}
                                    %img{:alt => "White Gold 14k 5mm Comfort Fit Flat Wedding Band ", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/2/8/28513.jpg", :width => "92"}/
                                %li.thumb.count
                                  %a{:href => "https://www.hazrati.com/james-gem-jewelry/", :style => "text-decoration:none"}
                                    %span.count 13
                                    %span items
                              .clear
                            .seller_info
                              .thumb
                                %a{:href => "https://www.hazrati.com/james-gem-jewelry/"}
                                  %img{:alt => "james_Gem&Jewelry", :height => "54", :src => "https://www.hazrati.com/media/sellbuy/resized/131.jpg", :width => "54"}/
                              .info
                                %p.name James Anderson
                                %p.shop_title
                                  %a{:href => "https://www.hazrati.com/james-gem-jewelry/"}>
                                    %strong james_Gem&amp;Jewelry
                                  shop
                                %p.contact From Kansas, United States
                              .clear
                        %li
                          .item
                            .large
                              %a{:href => "https://www.hazrati.com/designer-diamond-bangle.html"}
                                %img{:alt => "Designer diamond Bangle 0.5 carats 14K Pink", :height => "238", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/311x238/17f82f742ffe127f42dca9de82fb58b1/i/m/image_6513.jpg", :width => "311"}/
                              .prod_info
                                %h4 Designer diamond Bangle 0.5 carats 14K Pink
                                .price $1,653.00
                                .clear
                            .prod_thumbs
                              %ul
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/black-diamond-bangle.html"}
                                    %img{:alt => "Black diamond Bangle 2.57 carats 14K White", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/i/m/image_6508.jpg", :width => "92"}/
                                %li.thumb
                                  %a{:href => "https://www.hazrati.com/ruby-diamond-necklace-46321.html"}
                                    %img{:alt => "Ruby & diamond necklace 0.76 carats 14K White", :height => "92", :src => "https://d3c5gpp280u0ho.cloudfront.net/catalog/product/cache/7/thumbnail/92x92/17f82f742ffe127f42dca9de82fb58b1/i/m/image_6758.jpg", :width => "92"}/
                                %li.thumb.count
                                  %a{:href => "https://www.hazrati.com/david-s-vault/", :style => "text-decoration:none"}
                                    %span.count 1845
                                    %span items
                              .clear
                            .seller_info
                              .thumb
                                %a{:href => "https://www.hazrati.com/david-s-vault/"}
                                  %img{:alt => "David's_vault", :height => "54", :src => "https://www.hazrati.com/media/sellbuy/resized/132.jpg", :width => "54"}/
                              .info
                                %p.name David Miller
                                %p.shop_title
                                  %a{:href => "https://www.hazrati.com/david-s-vault/"}>
                                    %strong David's_vault
                                  shop
                                %p.contact From Maine, United States
                              .clear
                      .clear
                      .more_marketplaces
                        %center
                          %a.btn.btn-primary{:href => "https://www.hazrati.com/marketplace/shop/sellers/"} See more shops

        .footer-content
          .footer-new-store-container
            .footer-new-store
              .container
                .row
                  .col-md-13
                    %h3 Join the Community and open your business today.
                    .new-store
                      %a.btn.btn-primary{:href => "https://www.hazrati.com/sellbuy/seller/create/"} Open a Store
          .footer-bottom.footer-links
            .container
              .row
                .col-md.col-sm-6
                  %h4 Selling on Hazrati
                  %ul.links
                    %li
                      %a{:href => "https://www.hazrati.com/sellbuy/seller/create/"} Open a Store
                    %li
                      %a{:href => "https://www.hazrati.com/seller-manual/"} Seller Manual
                    %li
                      %a{:href => "https://www.hazrati.com/marketplace/shop/sellers/"} View All Sellers
                    %li
                      %a{:href => "https://www.hazrati.com/marketplace/shop/craftsmen/"} View All Craftsmen
                    %li
                      %a{:href => "https://www.hazrati.com/marketplace/shop/"} Sellers &amp; Craftsmen
                .col-md.col-sm-6
                  %h4 Tools &amp; Resources
                  %ul.links
                    %li
                      %a{:href => "https://www.hazrati.com/affiliates/"} Affiliates
                .col-md.col-sm-6
                  %h4 Gift &amp; Education
                  %ul.links
                    %li
                      %a{:href => "https://www.hazrati.com/giftcard.html/"} Gift Cards
                    %li
                      %a{:href => "https://www.hazrati.com/section/blog/"} Blog
                    %li
                      %a{:href => "https://www.hazrati.com/amgiftreg/event/"} Gift Registries
                .col-md.col-sm-6
                  %h4 All about us
                  %ul.links
                    %li
                      %a{:href => "https://www.hazrati.com/about/"} About
                    %li
                      %a{:href => "https://www.hazrati.com/investors/"} Investors
                    %li
                      %a{:href => "https://www.hazrati.com/return-and-refund-policy/"} Return &amp; Refund Policy
                    %li
                      %a{:href => "https://www.hazrati.com/contacts/"} Contact Us
                .col-md.col-sm-6
                  %h4 Follow Hazrati
                  %ul.social-links
                    %li
                      %a.fb{:href => "https://www.facebook.com/Hazraticom-401120739940918/"} Facebook
                    %li
                      %a.tw{:href => "https://twitter.com/HazratiJewelry"} Twitter
                    %li
                      %a.ig{:href => "https://www.instagram.com/hazratimp/"} Instragram
                    %li
                      %a.gp{:href => "https://plus.google.com/114018279538405001230"} Google+
                    %li
                      %a.pt{:href => "https://www.pinterest.com/hazratijewelry/"} Pinterest
            %ul.payment
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/american_express.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/master_card.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/visa.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/discover.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/ups.jpg"}/
              %li
                %img{:alt => "", :src => "https://d3c5gpp280u0ho.cloudfront.net/wysiwyg/fedex_1.jpg"}/
              %li
                %a{:href => "https://www.mcafeesecure.com/verify?host=www.hazrati.com", :target => "_blank"}
                  %img.mfes-trustmark.mfes-trustmark-hover{:alt => "McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams", :border => "0", :height => "40", :oncontextmenu => "window.open('https://www.mcafeesecure.com/verify?host=www.hazrati.com'); return false;", :src => "//cdn.ywxi.net/meter/www.hazrati.com/103.gif", :title => "McAfee SECURE sites help keep you safe from identity theft, credit card fraud, spyware, spam, viruses and online scams", :width => "320"}/

              %li
                %span#siteseal
                  %script{:async => "", :src => "https://seal.godaddy.com/getSeal?sealID=4HzSepFQDVxG0pNMG7rX1bVRNaiYCCWWxmokz8j0eqNMtX2JBvt76s7ikBaf", :type => "text/javascript"}
          .footer-bottom.footer-copyright
            .container
              .row
                .col-md-13
                  %p.copyright
                    
                    %strong 2015 Hazrati
                    \- All Rights Reserved
                  %ul.links
                    %li
                      %a{:href => "https://www.hazrati.com/terms-of-use/"} Terms
                    %li
                      %a{:href => "https://www.hazrati.com/privacy/"} Privacy
                    %li
                      %a{:href => "https://www.hazrati.com/cookies/"} Cookies
                    %li
                      %a{:href => "https://www.hazrati.com/copyright/"} Copyright
                    %li
                      %a{:href => "https://www.hazrati.com/interest-based-ads/"} Interest-based Ads
        %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.js", :type => "text/javascript"}
        %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/raty/2.7.0/jquery.raty.min.css", :rel => "stylesheet", :type => "text/css"}/
        :javascript
          (function($){$('.curator-rating-box').raty({half:true,score:function(){return $(this).attr('data-score');},starType:'i',precision:false,click:function(score,event){var _this=$(this);$.ajax({url:_this.attr('data-url'),data:{productId:_this.attr('data-productid'),rating:score},dataType:'JSON',method:'GET'}).complete(function(result){var response=result.responseJSON;var inp=_this.closest('.curator-action').find('form.curator-point-box-form input[name="point"]');inp.val(response.ratingPoints);inp.addClass('updated');if(response.message){}});}});$(document).on('submit','.curator-point-box-form',function(e){e.preventDefault();var form=$(this);$.ajax({url:form.attr('action'),data:form.serialize(),dataType:'JSON',method:'GET'}).complete(function(result){var i=form.find('input[name="point"]');i.addClass('updated');if(result.responseJSON.message){}});});})(jQuery);
        :css
          input.updated{color:#090;font-weight:bold}
        #messenger-modal.modal.fade{:role => "dialog"}
          .modal-dialog
            %form{:action => "https://www.hazrati.com/messenger/message/send/", :method => "POST"}
              .modal-content
                .modal-header
                  %button.close{"data-dismiss" => "modal", :type => "button"} 
                  %h2.modal-title Ask Seller
                .modal-body
                  .form-group
                    %label.control-label{:for => "messenger-title"} Title:
                    %input#messenger-title.form-control{:name => "title", :type => "text"}/
                  .form-group
                    %label.control-label{:for => "messenger-message"} Message:
                    %textarea#messenger-message.form-control{:name => "body"}
                  %input#messenger-upload{:multiple => "true", :name => "file_upload", :type => "file"}/
                  %input{:name => "to_id", :type => "hidden"}/
                  %input{:name => "reply", :type => "hidden", :value => ""}/
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  %button.btn.btn-primary{:name => "send", :type => "submit", :value => "1"} Send Message
        :javascript
          (function($){$(document).on('click','a',function(e){var base=$(this);if(base.attr('data-target')=='#messenger-modal'){$('#messenger-modal').find('input[name="to_id"]').val($(this).attr('data-recipient'));$('#messenger-modal form').trigger('reset');$('#messenger-upload').uploadify('reset');}});$('#messenger-upload').uploadify({'formData':{'timestamp':'1497430398','token':'a09008614301789f91da5de832fc2e20'},'removeCompleted':false,'buttonClass':'btn btn-primary','swf':'https://www.hazrati.com/skin/frontend/hazrati/default/uploadify.swf','uploader':'https://www.hazrati.com/messenger/message/attach/','onUploadSuccess':function(file,data,response){$('#'+file.id).append('<input type="hidden" name="attachment[]" value="'+data+'"/>');},});$('#messenger-modal form').on('submit',function(e){e.preventDefault();var form=$(this);if(window.confirm("Do you really want to send the message?")==true){$.ajax({url:form.attr('action'),method:'POST',dataType:'JSON',data:form.serialize(),beforeaSend:function(){console.log(form.serialize());}}).always(function(result){alert(result.message);if(result.status==true){$('#messenger-modal button.close').trigger('click');}}).fail(function(){alert('An error occurred. Please try again later.');});}else{}});})(jQuery);
        :javascript
          var FEED_BASE_URL="https://www.hazrati.com/";
        %script{:src => "https://www.hazrati.com/js/mirasvit/code/feedexport/performance.js", :type => "text/javascript"}
        #wc-overlay.wc-overlay
          .wc-overlay-loading
        :javascript
          window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","hazrati.zendesk.com");
        :javascript
          var google_tag_params={ecomm_pagetype:"home"};var google_conversion_id=1008708293;var google_custom_params=google_tag_params;var google_remarketing_only=true;
        %script{:src => "//www.googleadservices.com/pagead/conversion.js", :type => "text/javascript"}
        %noscript
          %div{:style => "display:inline;"}
            %img{:alt => "", :height => "1", :src => "//googleads.g.doubleclick.net/pagead/viewthroughconversion/1008708293/?value=0&guid=ON&script=0&data=ecomm_pagetype%3Dhome", :style => "border-style:none;", :width => "1"}/
      %script{:async => "", :src => "https://cdn.ywxi.net/js/1.js", :type => "text/javascript"}
      :javascript
        var $zoho=$zoho||{salesiq:{values:{},ready:function(){}}};var d=document;s=d.createElement("script");s.type="text/javascript";s.defer=true;s.src="https://salesiq.zoho.com/hazraticom/float.ls?embedname=hazraticom";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);$zoho.salesiq.ready=function(embedinfo){$zoho.salesiq.floatbutton.visible("hide");}
      :javascript
        var scRec=document.createElement('SCRIPT');scRec.type='text/javascript';scRec.src="//d2oh4tlt9mrke9.cloudfront.net/Record/js/sessioncam.recorder.js";document.getElementsByTagName('head')[0].appendChild(scRec);
    :javascript
      new Ajax.Request('/', {
          parameters: {amfpc_ajax_blocks: 'top.links.custom,top_seller_list,seller_list,repairer_list'},
          onSuccess: function(response) {
              var blocks = response.responseText.evalJSON();
              for (var name in blocks)
              {
                  $$('div[id=amfpc-'+name+']').each(function(element){
                      element.replace(blocks[name]);
                  });
              }
      
              var event = new CustomEvent("amfpc-ajax-loaded", { detail: {blocks: Object.keys(blocks)} });
              document.dispatchEvent(event);
          }
      });
