- content_for :title_header do
  .browse-view-search-form
    = render partial: "homepage/search_bar"
- content_for :page_css do
  = stylesheet_link_tag "css/theme-contactus.css";

/ Start Content
%section#content.contactus.type1
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h2 Cookies
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "/"} Home 
            %li Cookies
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      .pt-one-41  
        .main
          .col-main
            #amfpc-global_messages
            .review-customer
              %h3 Cookies
            .std
              #amfpc-messages
              %p When you interact with, visit, or use Hazrati’s messaging, tools, applications, services, and sites, we and our authorized service providers may use web beacons, cookies, mobile data, flash cookies and other information capturing technologies to provide a faster, safer, and better online shopping experience, and for targeted advertising purposes.
              %p This page is optimized and designed to help you understand more about these information capturing technologies and how we use them in Hazrati’s tools, applications, services, and sites to provide you a better and more user-friendly experience. For more information, you can review the contents of our full User Cookie Notice below.
              %h2
                %span{:style => "color: #4f81bd;"} Full User Cookie Notice
              %h3 What are Web Beacons, Cookies, and Similar Technologies?
              %p Like almost all sites on the web today, we use technologies in the form of small data files that are placed on your mobile phone, tablet, computer, laptop and other related devices, which allows us to record crucial pieces of information whenever you interact with, visit, or use our tools, messaging, applications, services and sites.
              %p The specific types and names of the web beacons, cookies, flash cookies, mobile data and other similar technologies we use may change from time to time. To help you better understand this Policy, why we use cookies, and other similar technologies, read about the limited definitions and terminologies.
              %ul
                %li
                  %b> Cookies –
                  These are unique identifiers in the form of small text files (made up of numbers and letters) that Hazrati transfers to your device to enable our website and systems to recognize you and to provide features like interest-based ads and track items in the Shopping Cart. There are several types of cookies we use:
                  %ul
                    %li Third-party cookies are sent by a third-party site separate from the site you are visiting.
                    %li First-party cookies are set and used by the site you are visiting.
                    %li Persistent cookies are stored in your browser and mobile device between browser sessions, allowing us to remember your actions, preferences, and clicks across multiple pages on your website.
                    %li Session cookies expire at the end of each browser session. They are temporary, but allow us to link your actions during that particular browser session.
              %p Cookies can be removed or disabled by tools that are available in almost all types of commercial browsers. You can simply change your preferences of accepting or declining cookies, if you don’t approve of its use. However, for each browser you use, it is required to change your preferences separately. Different browsers may offer different options, features, and functionality.
              %ul
                %li
                  %b> Web Beacons –
                  These are tiny graphics (also known as "clear GIFs" or "pixel tags") that utilize a unique identifier, which work in conjunction with cookies. However, these tracking metrics are used for monitoring the online activity of visitors. Where cookies are stored on a hard drive of your computer, laptop or memory card of your mobile device, clear GIFs are invisibly embedded on web pages. They are about the size of the period at the end of this sentence.
                %li
                  %b> Flash Cookies –
                  Flash cookies (also known as “Local Shared Objects” or simply “LSOs”)are used for storing and collecting information. These alternatives differ from browser cookies in the manner, volume, and type of data stored. Hazrati uses Flash cookies for facilitating services like fraud prevention. We do not, however, tie information gathered by these LSOs to your personal identifiable information.
                %li
                  %b> Similar Technologies –
                  In addition to the information capturing technologies mentioned above, Hazrati uses HTML 5 Cookies, mobile data, email communication, and other web application software methods to gather user information for a more personalized experience. These technologies work consistently across all browsers. The information stored is only used for providing a better experience and not for any other purpose.
              %p We may use the terms “cookies” or “similar technologies” consistently in our policies. This is to refer to all technologies we are using to store data and information on your device and browser or collect data to help us identify users and their habits and behavior in the manner described above.
              %h3
                %span{:style => "color: #4f81bd;"} Your Choice and Our Use of Web Beacons, Cookies, and Similar Technologies
              %p We offer certain website tools, applications, services, and features that are available only through the use of the abovementioned technologies. You are free to disable, block, or delete these technologies from your browser or mobile (if supported, or your device permits). However, if you decline cookies and other similar information capturing technologies, you may not be able to leverage the many benefits offered by Hazrati’s tools, features, services, and applications.
              %p These technologies are crucial for allowing our tools, applications, services, and web pages to store relevant information on your device or browser and later read that data to indentify your actions, preferences and provide targeted ads and personalized shopping experience. Therefore, where applicable, we protect our cookies and other similar technologies by encrypting them and assigning them a unique identifier that can only we can interpret. Please note we don’t store any of your personal information, but only cookies and other similar technologies for a better experience.
              %p By disabling your cookies and other similar technologies, you may be required to re-enter your password more frequently during browsing sessions. Additionally, you will not have access to your shopping cart or be able to receive targeted ads for a better shopping experience. On the other hand, if you accept cookies, you will benefit from a safer, faster, and better experience. For more information on how you can disable, block, or delete these technologies, please review your browser or device settings.
              %p
                (
                %i> Any personal information collected, stored, and used through these technologies is obtained with notice and consent. We provide a transparent notice of use of these technologies. You have the liberty enable or disable these technologies. Anything we use to provide YOU a better experience is done with your consent
                )
              %h3
                %span{:style => "color: #4f81bd;"} Purposes of Using Such Technologies Fall into the Following Four General Categories:
              %ul
                %li
                  %b> Advertising or Targeting-Related –
                  We may use web beacons, first-party, and third-party cookies to deliver content, including ads relevant to your interests and preferences on third-party sites and our site. This includes using the technologies to understand how useful the advertisements and content provided are for you. If not, you also have the option of blocking ads, state the ads were irrelevant, etc.
                %li
                  %b> Functionality-Related –
                  We may use web beacons, cookies, or other similar technologies when you visit and use our site, to enhance overall customer experience and ensure you have no trouble using our service. This allows us to offer you enhanced functionality when using or accessing our tools, applications, services or sites. This may include keeping track of your past items viewed, interests, and specified preferences to enhance the presentation of content.
                %li
                  %b> Performance-Related –
                  We may use web beacons, cookies, or other similar technologies to obtaining information about preferences and regarding your clicks on the pages. This enables us to understand how the site functions. This gives us the chance to improve our services. It also helps us assess the performance of our tools, services, applications and websites to improve our overall content.
                %li
                  %b> Operationally Necessary –
                  We may use web beacons, cookies, or other similar technologies that are necessary for the operation of our tools, applications, services and sites. This includes technologies that are required to improve security, identify irregular site behavior, and prevent fraudulent activity. We also use these technologies to enhance the experience of using our site’s functions, such as saved search, shopping cars, and targeted ads.
              %h3  
              %h3
                %span{:style => "color: #4f81bd;"} Use of These Technologies by Authorized Third-Party Service Providers
              %p Hazrati may work with third-party companies, also known as “service providers”, who are authorized to use web beacons, third-party cookies, and other similar technologies for storing data and information on our sites or in our tools, applications, and services with our consent. These providers help us in providing you a safer, better, and faster experience.
              %p Service providers may also use web beacons, cookies, and other similar technologies to help us in delivering our advertising, content, and compile various anonymous site analytics and metrics. We strictly prohibit service providers from collecting your personal information from our tools, applications, services and sites for safety purposes.
              %p These service providers are subject to confidentiality agreements with us and other laws, guidelines, and restrictions, which strictly prohibit the use of any personal information that is collected. Third-party cookies are covered by the third parties’ privacy policy. This means, all your information provided to our site is safe and secure, and will not be used for any purpose.
              %p Furthermore, with the exception of web beacons, cookies, and similar technologies used by third-party companies and service providers, we strictly prohibit third-party content on our sites. This includes reviews, comments, classified listings, member-to-member communications, and item listings. They cannot use any local storage, cookies, web beacons, and similar technologies for collecting your personal information and tracking data.
              %p If you believe a third-party consent or listing might be using or collecting personal information on one of our sites, feel free to contact us immediately. This ensures the services we offer are completely secure and if used illegally by any third-party service will result in strict legal action against them.
