- content_for :title_header do
  .browse-view-search-form
    = render partial: "homepage/search_bar"
- content_for :page_css do
  = stylesheet_link_tag "css/theme-contactus.css";

/ Start Content
%section#content.contactus.type1
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h2 Interest-Based Ads
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "/"} Home 
            %li Interest-Based Ads
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      .pt-one-41 
        .main
          .col-main
            #amfpc-global_messages
            .review-customer
              %h3 Interest-Based Ads
            .std
              #amfpc-messages
              %p We use a variety of technologies on our site to display interest-based advertising and understand how you use Hazrati.com. Using information you make available to us, we offer interest-based ads, also known as “targeted” or “personalized” ads. This information can be in the form of how your react or interact with our site’s services, content, and products.
              %p Ads are also based on information from activities, like using our payment services, interacting with Hazrati tools, visiting sites that feature Hazrati content, or purchasing from Hazrati. To understand this better, read on about the types of tracking technologies and information we use to improve your Hazrati experience:
              %h2
                %span{:style => "color: #4f81bd;"} Types of Tracking Technologies We Use to Gather Personal Information
              %ul
                %li
                  %b Cookies (Mobile and Browser) –
                  These are small data files sent from a server to your mobile device or web browser. They are stored on your mobile device or browser cache. You can configure your browser’s settings to reflect your preference of rejecting or accepting cookies. (Read on to understand how to manage cookies).
                %li
                  %b Mobile App Data –
                  When you use apps or download from Hazrati, we may receive information about your mobile device and location, along with a unique identifier that is installed on all devices. This information is only used to provide you with location-targeted services, like personalized content, advertising, and search results. Most mobile devices will provide users with an option to turn off location services. Browsers also allow you to disable location targeting.
                %li
                  %b E-mail Communications –
                  To help Hazrati make emails more interesting, useful, and valuable, we receive a confirmation when you open an email from us. We also evaluate information obtained by comparing them from lists received via other companies. This is only to avoid sending needless or irrelevant messages to our customers that don’t suit their needs, requirements, and wants. If you don’t want to receive emails or any other form of communication, contact us.
                %li
                  %b> Local Shared Objects (LSOs) Or Flash Cookies –
                  Similar to cookies, LSOs or Flash cookies are used for storing and collecting information. However, these alternatives differ from browser cookies in the manner, volume, and type of data stored. Hazrati uses Flash cookies for facilitating services, like fraud prevention. We do not, however, tie information gathered by these LSOs to your personal identifiable information.
                %li
                  %b Web Beacons, Web Bugs, And Clear GIFs –
                  These are tiny graphics that utilize a unique identifier, which performs similar functions like cookies. However, these tracking metrics are used for monitoring the online activity of visitors. Where cookies are stored on a hard drive, clear GIFs are embedded invisibly on web pages. They are about the size of the period at the end of this sentence. The information obtained from these metrics isn’t tied to your personal identifiable information.
              %h3
                %span{:style => "color: #4f81bd;"} Tracking Technologies Are Deployed As
              %ol
                %li
                  %b Sessions –
                  This is specific to a particular visit to the site and records information as you view different pages on Hazrati. This way, you don’t have to re-enter information. Sessions cookies, however, expire and delete themselves automatically upon closing your web browser or leaving our website.
              %p{:style => "padding-left: 30px;"}
                %b OR
              %ol
                %li
                  %b Persistent –
                  Persistent trackers keep track of your preferences after visiting/viewing our website. It allows Hazrati to instantly recognize you each time you re-visit our website to provide interest-based ads. Persistent cookies are stored on your mobile device or browser cache until you delete/clear them.
              %h2
                %span{:style => "color: #4f81bd;"} Purposes of Using These Tracking Technologies
              %p Hazrati uses tracking technologies for a few generic, but crucial purposes for customer support. These include:
              %ul
                %li
                  %b Marketing and Advertising –
                  We use these technologies to gather data about your preferences, hence allowing us to deliver content that is relevant and in accordance with your interests and concerns.
                %li
                  %b Functionality –
                  We retain your personal preferences, interests, and concerns upon visiting and using our site to enhance overall customer experience and ensure you have no trouble using our service.
                %li
                  %b Performance –
                  Obtaining information about preferences and regarding your clicks on the pages, enables us to understand how the site functions. This gives us the chance to improve our services for YOU.
                %li
                  %b Strictly Necessary –
                  We take 100% customer satisfaction seriously. This means, using these tracking technologies is vital for ensuring Hazrati works properly for members, visitors, and prospective customers.
