- content_for :title_header do
  .browse-view-search-form
    = render partial: "homepage/search_bar"
- content_for :page_css do
  = stylesheet_link_tag "css/theme-contactus.css";

/ Start Content
%section#content.contactus.type1
  / Start Content-Header
  .content-header.breadcrumb-header
    .wrapper
      .row
        .col-md-12
          .pull-left
            %h2 Terms of Use
          %ul.breadcrumb.pull-right
            %li
              %a{:href => "/"} Home 
            %li Terms of Use
  / End .content-header
  / Start Content-Main
  .content-main
    .wrapper
      .pt-one-41
        .main
          .col-main
            #amfpc-global_messages
            .std
              #amfpc-messages
              %p{:class => "welcome-message", :style => "text-align: center;"}
                %b
                  Welcome to Hazrati Marketplace – Your Ultimate Selling and Buying Destination.
                  %br>/
                  Make yourself comfortable, have a good time, and follow the “House” rules below. Cheers!
              %h2
                %span{:style => "color: #4f81bd;"} Accepting Our Terms
              %p This User Privacy Notice, User Agreement, or what we officially call our “Terms of Use” is a legally binding contract between Hazrati and YOU. It sets out all your responsibilities and rights of using the services offered by Hazrati (we will refer to our mobile app, website, and other services as “Our Services”), so read each of the house rules carefully.
              %p The moment you start using any of the services provided by Hazrati (even if it’s just browsing our website, using our mobile app, and going through numerous listings), you agree to comply with all of these Terms. If you don’t agree with our Terms, you have the choice of not using our Services. Are you with us? Great, let’s get started!
              %h2
                %span{:style => "color: #4f81bd;"} Your Account with Hazrati
              %p We understand the personal information you provide to us is important to you. And this is why it is also important to us. Typically, you will be required to create an account and join our community to start using some of our Services. So, here are a few rules about creating an account with Hazrati. Read it carefully.
              %ul
                %li To use our Services, you have to be at least 18 years old. Otherwise, you may only use our Services under the supervision of a legal guardian or parent.
                %li It’s not “OK” to use phony, bogus, fake, or false information on our site, copy content, or impersonate another company or individual through your account. Provide accurate information and be honest with us and the rest of the community.
                %li Your identity on Hazrati is tracked via your username. Choose a nice one and avoid using a name that is in any way vulgar, offensive, and infringes someone else’s intellectual property.
                %li Your account is your responsibility. All activities you perform, the information you share with other people, it’s all your responsibility. Also, accounts are not transferable and if you share an account with another person, the billing information on the account will ultimately be responsible for all activity.
                %li We do our best to provide topnotch security and safety for our users/members. But you too are responsible for the activity and safety of your account. So, keep your account secure with a strong password.
                %li These terms of creating an account with Hazrati don’t create a franchisee, employment, joint venture, partnership, or agency relationship between you and us.
              %h2
                %span{:style => "color: #4f81bd;"} Your Content
              %p Content that you post on our website or while using our Services is “Your Content”. We don’t take any responsibility for it and neither do we make any claims to it. This includes anything you post while using our Services, including videos, comments, reviews, listing descriptions, listing photos, profile pictures, shop names, usernames, etc.
              %ul
                %li As mentioned earlier, you are solely responsible for all activity on your account. This means, the content you post is also your responsibility and you must make sure you aren’t violating or infringing any third party’s right by posting it.
                %li If you post Your Content through our Services, you automatically grant Hazrati the license to use it. We will not claim any ownership of Your Content, but we have your permission for using it to help our marketplace grow. This way, we can also help you in promoting your stuff.
                %li Hazrati respects intellectual property rights and is determined to follow the appropriate guidelines and legal procedures for removing infringed content from our Services. If your content infringers another party’s property rights, we will notify you and remove it.
                %li There are certain types of content we wouldn’t appreciate you posting on Hazrati (for legal reasons). By using our Services, you agree to not post any content that is vulgar, obscene, defamatory, threatening, abusive, or otherwise in violation to our Terms. You also agree to not post content that is misleading or false in a matter that is deceptive or fraudulent.
                %li By posting Your Content on our website or while using our Services, you grant Hazrati a perpetual, irrevocable, royalty-free, worldwide, and non-exclusive license to prepare, store, distribute, reproduce, modify, edit, display, or use derivative works of Your Content to promote Hazrati and our Services in general.
              %p This may sound like a lot, but it’s necessary for us to keep Hazrati going. For instance, if you post a gorgeous photo of an amazing handmade necklace, we may feature it on our homepage helping you promote your business and our Services. If you post a description in English, we might translate it into French so that buyers from Paris can learn about the story and features regarding the product you are selling. If you upload a photo, first, we have the permission for displaying it to other buyers, and second, we resize it so it looks good to buyers on the website and our mobile app.
              %h2
                %span{:style => "color: #4f81bd;"} Your Use of Our Services
              %p In connection with accessing or using our Services and following the above set account guidelines regarding account creation and content, you will not:
              %ul
                %li Commercialize any Hazrati application, tool, service.
                %li Upload, post or list content or items in inappropriate areas or categories on Hazrati website and Web Pages.
                %li Circumvent or breach, our system or third-party determinations, systems, or policies of your account status.
                %li Interfere with other users’ listings or manipulate the pricing and description of any item.
                %li Post libelous, defamatory, misleading, inaccurate, or false content.
                %li Take any action that may undermine the feedback or ratings system of Hazrati.
                %li Transfer your Hazrati account and user ID (including Feedback) to another party, without our consent or approval.
                %li Post or distribute bulk, spam, or unsolicited pyramid schemes, electronic communications, and chain letters.
                %li Distribute or release any form of virus that could harm the security of your site or the interests of other property owners.
                %li Use any scraper, robot, spider, or automated means to access our Services and manipulate them for any purpose.
                %li Impose a disproportionately large or unreasonable load on our infrastructure, bypass our robot exclusion headers, and interfere with the working of our Services.
                %li Export any Hazrati tool or application except for those in compliance with the posted rules and restrictions and relevant jurisdictions.
                %li Circumvent or breach any technical measure that we use to provide our Services to users and members in our community.
                %li Collect or gather information about other members and users, without their proper consent or approval.
                %li Use our Services, especially if you aren’t able to meet the eligibility requirements. For instance, if you are 18 years old, or are temporarily suspended from using our tools, applications, services, and sites.
                %li Fail on paying for the items that you have purchased, until and unless there is a valid reason as set out in the Hazrati Policy. For instance, if your seller had strategically changed the item’s pricing after you made your bid.
                %li Fail to deliver the items you are selling or offering on Hazrati, until and unless there is a valid reason as set out in the Hazrati Policy. For instance, in circumstances where you cannot contact the buyer or the person fails to comply with the posted terms.
                %li Prepare, reverse engineer, distribute, display, perform, or reproduce derivative works from content that is licensed or belongs to Hazrati, comes from the Services of our website, and belongs to another user/member or third-party company, including works of intellectual property rights, like patents, copyrights, and trademarks.
              %p If we have reason to believe you are using Hazrati for fraudulent purposes or abusing our services in any way, we may in our sole discretion and caution limit, terminate, modify or suspend your account and access to our Services. We may also take legal steps at your cost to prevent you from using our services, eliminate or reduce any discounts, demote or remove listings, delete any special status associated with your account, or remove hosted content. Furthermore, we may even suspend, cancel, or terminate accounts that have been inactive for a long time or are unconfirmed.
              %h2
                %span{:style => "color: #4f81bd;"} Policy Enforcement
              %p When a seller or buyer issue arises, we may consider or take into factor the user’s performance history and the specific circumstances in which we can help each desired party in accordance to our policies. We may even choose to be more lenient with policy enforcement and related laws and guidelines in an effort to do the right thing for both sellers and buyers.
              %h2
                %span{:style => "color: #4f81bd;"} Listing Conditions
              %p When you list an item or product on Hazrati, you are agreeing to comply with our Selling Practices Policy and rules for listing:
              %ul
                %li You are solely responsible for the accuracy and relevancy of the content posted on each of the listings and items offered.
                %li Your listing may not be immediately searchable by category or keyword for several weeks, as we have to ensure it meets all set guidelines.
                %li If you post any content that violates or goes against Hazrati’s policies, your listing may be deleted or suspended at Hazrati’s discretion.
                %li Since we aim to create a marketplace where buyers can find exactly what they want or are looking for, the placement and appearance of listings in browse and search results will depend on a variety of factors and our internal algorithm, which include but not limited to number of listing matching the buyer’s query, sellers history, return rate, feedback, Hazrati policy compliance, seller ratings, item’s location, relevance to user query, history, end time, terms of service, shipping cost, price, listing format, etc.
                %li If the above set of guidelines for posting a listing isn’t met, the item may not appear in some browse and search results, regardless of the preferred order chosen by the buyer. Some advanced listing upgrades may also only be visible on certain Services.
                %li Hazrati has a duplicate listing policy and strictly prohibits the use of plagiarized content. If any of your listings are plagiarized or duplicate another listing, it will affect the way or order your listing appears upon performing a search or simply browsing the site.
                %li URL links, Meta tags, and title tags that are included in a listing could be altered or removed, as to not affect third-party search engine results.
              %p Beware to keep the above set guidelines in mind when posting a listing. Also understand that we may provide you with optional recommendations to consider when creating your listings. This way, you can get more value from the listing, as the recommendations will strictly be based on the performance history and aggregated sales of current and similar listings. This may require us to display the performance or sales history of your individual listings to other sellers to provide better recommendations and tips.
              %h2
                %span{:style => "color: #4f81bd;"} Purchase Conditions
              %p When you purchase an item from Hazrati, you are agreeing to comply with our rules for buyers and that:
              %ul
                %li You are solely responsible for reading each item’s listing before making a final decision on purchasing or making a bid.
                %li You enter into a legally binding contract with Hazrati to purchase an item and make the payment, if you have the winning bid.
                %li For working with craftsman or sending in items for repair the maximum limit on value of an item/s that can be sent at a time is $950 and this limit can change from time to time at our sole discretion without prior notice. You would be sending these at your sole risk of damage or complete loss. You should get these insured by your own insurance company. Our responsibility is limited to refund of commission charged on repair job only, under any or all circumstances whatsoever they may be. In the event of job work done by a craftsman is not satisfactory it’s the sole discretion of craftsman whether he/she refunds the cost of repair. We do keep track of their activities and if we feel a craftsman is not doing his/her job right we can suspend or terminate their account at our sole discretion without revealing details of our actions or reasons for those to any parties involved.
                %li We are not responsible and neither do we transfer legal ownership of any particular item from the seller to the buyer.
              %h2
                %span{:style => "color: #4f81bd;"} Termination
              %h3 Termination by Hazrati
              %p We may suspend or terminate your account(s) and access to the Services offered by Hazrati, for any or no reason, at any time, and without an advance notice. In circumstances, we close your account, it is imperative to understand you have not followed the legal rights listed in the Terms of Use or don’t have a contractual right to use our Services. Hazrati may refuse to provide service to anyone, for whatever reason, especially if you violate our policies and terms.
              %h3 Termination by You
              %p Although we would hate seeing you leave, you have the option of terminating your account with Hazrati, for whatever reason, at any time. In order to do so, you must simply visit your account settings and deactivate your account and any related accounts. However, terminating your account might not affect the availability of some of Your Content, comments, and listings posted through the Services. Once you terminate your account, you may lose any information associated with your account but we may still retain the information you provided to us for future use.
              %p In circumstances where there has been a minor fault in not following our Policies or Terms of Use, Hazrati reserves the right to discontinue, change, or suspend any of the Service at any time. We will not be liable for the effect these changes may have on you, including your ability to generate revenue or loss of income. The Terms will remain in effect even after your access to our Services is terminated.
              %h2
                %span{:style => "color: #4f81bd;"} Warranties and Limitation of Liability (or the Things You Can’t Sue Us For)
              %p Hazrati aims to being one of the best online marketplaces for selling and buying products. We will do anything in our power to boost the likeability of our services and prevent issues from rising. This is why we try to be as straightforward as possible regarding how you use our services and have also created Policies surrounding Warranties and Limitation of Liability (or in simple words “Things You Can’t Sue Us for). Take a look below to learn about these policies.
              %h3 Items You Purchase
              %p Please understand that Hazrati is not responsible for inspecting, manufacturing, or storing any of the items sold through our Services. We merely provide a venue for buyers and sellers to meet, which means any issue with an item you purchase has to be dealt with the seller you purchased the product form. Hazrati doesn’t make any warranties about the legality, quality, and safety of the products listed. Any legal claim, issue or problem related to an item you purchase should be taken to the seller. This includes items that can cause physical injury, defective items, copyrighted items or misrepresentations by sellers.
              %h3 The Content You Access
              %p You may come across materials, content, and items you may find inappropriate or offensive while using the services provided by Hazrati. Although we try our best to ensure each seller follows the listing guidelines, we make no representations or guarantees regarding the items they sell or the content they post. Hazrati is not responsible for the decency, legality, copyright compliance, and accuracy of the content posted by other users of our website.
              %h3 People You Interact With
              %p You can use our Services to interact with other individuals. However, you must understand that we do not screen users for all our Services, so you must be careful and exercise good judgment and caution in all interactions with other sellers/craftsmen/buyers.
              %h3 Third-Party Services
              %p Some of our Services may include links to third-party services or websites that we don’t have control over. This can include but not limited to, links to Pinterest, Instagram, Twitter, or Facebook. You are required to use a certain third-party’s service or product to use some of our Services. However, we do not take responsibility or make any guarantees regarding the legitimacy of these services, so you must access third-party services at your own risk. These companies, parties, or services may require you to accept and follow their own terms of use.
              %h2
                %span{:style => "color: #4f81bd;"} Maximum Liability
              %p Our maximum liability is limited to refund of commission charged by us on a transaction, the reasons whatsoever they may be. If you do not agree to above terms and our policies please do not use our site in any way.
              %h2
                %span{:style => "color: #4f81bd;"} Changes to the Terms
              %p We may change, edit, modify, or update these Terms of Use or Policies from time to time. You can decide whether or not you wish to continue using our Services. Changes will be effective as soon as they have been posted on Hazrati.com. It is your responsibility to regularly check, review, and familiarize yourself with the changes, and follow set guidelines.
