
// Footer
#footer {
  .wrapper {
      background-color: transparent;
  }

  a {
    color: #ccc;
  }

  a:focus, a:hover {
    color: #ccc;
  }

}

@media (max-width: 991px) {
  .footer-nologo .footer-links ul, .footer-center .footer-links ul {
    width: auto;
  }
}
