@import "mixins/all";

/*
  Styles used in global layout
*/

.left-navi-dropdown {
  &:hover { background: $highlight; }
  color: $body;
  padding: em(10) lines(0.5);
  border-bottom: 1px dotted $border;
}

.wrapper {
  @include wrapper;
}

.undo-mobile-wrapper-margin {
  @include undo-mobile-wrapper-margin;
}

///////////////////////////////////////////////////////////
// Elements
body {
  font-size: 16px;
}

content-header .wrapper-fluid {
  padding: 0;
  margin: 0;
}

.navbar-nav>li {
  display: inline-block;
  float: none;
}

.marketplace-lander .title-container {
  padding: 15px 0;
}

.page-content > .wrapper-fulid {
  padding: 0 40px;
}

.product-list-title h2 {
  color: #666;
  text-align: center;
  font-size: 35px;
}

@media (min-width: 48em) {
  .wrapper {
  	max-width: none;
  }
}

@media (max-width: 48em) {
  .page-content > .wrapper-fulid {
    padding: 0 15px;
  }  

}

@media (max-width: 480px) {
  .page-content > .wrapper-fulid {
    padding: 0 !important;
  }

  .home1 > .content-header .rev-slider-wrapper {
    height: 150px;
  }
}


// Content
.coverimage {
  & figure {
    height: 0 !important;
  }
}
#main-nav {
  overflow: visible;
}

.home1 {
  margin-bottom: 90px;
}

.home-products {
  overflow: hidden;
}

#rev_slider_wrapper1 .rev-slider {
  height: 600px;
}

.marketplace-lander {
  display: none;
  height: 15px;

  &.infos {
    height: 15px;
  }

  .browse-view-search-form {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    position: absolute;    
    background-color: #fafafa;
    width: 100%;
    left: 0;
    padding: 0 40px;
    text-align: center;
    top: -82px;
    overflow: hidden;
    height: 0;

    button.action-button {
        background: transparent;
        border-radius: 0;
        color: #666;
        height: 85px;
        margin-left: 0;
        line-height: 46px;
        width: 48px;
    }

    input[type=text] {
        font-size: 18px;
        line-height: 1.5em;
        width: 100%;
        height: 85px;
        line-height: 85px;
        border-radius: 0;
        padding: 0;
        background-color: transparent;
    }

    .search-form-input {
      vertical-align: top;
      display: block;
      float: left;

      #search-button:hover {
        background-color: transparent;
      }
    }

    .search-form-input.search-form-text-field {
      width: calc(100% - 48px);
    }

    button.action-button#search-button {
      .pesto-icon-cross-mark {
        display: none;
      }
    }
  }

  .browse-view-search-form.droped {
    height: 85px;
    margin-top: 0;

    button.action-button#search-button {
      .pesto-icon-cross-mark {
        display: inline;
      }
    
      .icon-part {
        display: none;
      }
    }
  }


  .title-header-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }

  .title-container {
    padding: 50px 0;
  }
}



a.home-toolbar-button-group-button:hover,
a.home-toolbar-button-group-button.selected,
a.home-toolbar-button-group-button {
  text-decoration: none;

  i {
    text-decoration: none;
  }
}
