- question = custom_field_value.question
- question_name = question.name(I18n.locale)
- answer_title = custom_field_value.selected_options.map { |selected_option| selected_option.title(I18n.locale) }.join(", ")
%tr
  %td 
    = "#{question_name}"
  %td 
    = answer_title