// The fonts file has to be the first one, since there are @imports in the fonts file
//= require ./fonts

// Vendor
//= require jquery.nouislider
//= require jquery.fileupload
//= require datepicker3
//= require selectize

// Theme
//= require ./css/theme-font/css/pesto
//= require ./css/theme-elements
//= require ./css/theme-shop
//= require ./css/theme

//= require ./reset
//= require ./main

//= require_tree ./partials
//= require_tree ./views

body.seller_manual {
	.contactus.type1 .review-customer {
		margin-top: 0;
	}

	.std {
		margin-top: 25px;
	}

	li .media {
		margin-bottom: 25px;
	}
}

body.people-settings {
	label {
		margin-top: 25px;
		display: block;
	}

	#settings_map_canvas {
		height: 600px;
	}

	input[type=text] {
		display: block;
	    width: 100%;
	    margin-top: 5px;
	}

	textarea {
		height: 90px;
    	width: 100%;
    	margin-bottom: 25px;
	}

	button.send_button,
	button.send_button_account,
	button.send_button_notifications {
		border: 1px solid #444645;
		border-radius: 0px;
		color: #444645;
		background-color: #fff;
		font-size: 14px;
		font-weight: bold;
		padding: 10.5px 29px;
		font-family: "Roboto Condensed";
		letter-spacing: 1.2px;
		
		&:active,
		&:hover,
		&:focus {
			color: #fff;
			background-color: #6cf;
			border-color: #6cf;
		}
		
		&:hover:focus {
			background-color: lighten(#6cf, 5%);
			border-color: #6cf;
			color: #fff;
		}
	}

	.account-settings-row {
		border: 1px solid #f2f2f2;
    	border-radius: 0;

    	form {
    		margin-bottom: 35px;
    	}
	}

	.account-settings .account-settings-row .account-settings-text {
	    margin-left: 15px;
	    padding: 10px 0 10px 0;
   	}

   	form .checkbox-container input[type=checkbox] {
    	top: 0;
	}

	form .checkbox-container input[type=radio] {
		top: 0;
	}

	.notification-settings {
		h2 {
		    margin-bottom: 15px;
		}

		button {
			margin-top: 35px;
		}

		.checkbox-container label {
		    margin-top: 0.4375em;
		}
	}

	@media (min-width: 48em) {
		.left-navi .left-navi-link-icon {
		    text-decoration: none;
		}
	}
}


body.affiliates {
    .contactus.type1 .review-customer {
    	margin-top: 0;
    	margin-bottom: 25px;
    }

	.std {
		margin-top: 0px;

		section {
			margin-bottom: 8px;
		}
	}

	h3 {
		margin-bottom: 10px;
	}

	ol {
		list-style-type: none;
		margin-bottom: 15px;
	}

	.content-main ul {
		margin-bottom: 15px;
		list-style: disc outside;
	}

	.welcome-message {
		margin-bottom: 25px;
	}

	.content-main .foot {
	    margin-top: 30px;
	}
}

body.investors {
	.contactus.type1 .review-customer {
    	margin-top: 0;
    }

	.std {
		margin-top: 25px;
	}
}

body.terms_of_use {
    .contactus.type1 .review-customer {
    	margin-top: 0;
    }

	.std {
		margin-top: 25px;
	}

	h3 {
		margin-bottom: 10px;
	}

	ol {
		list-style-type: none;
		margin-bottom: 15px;
	}

	.content-main ul {
		margin-bottom: 15px;
		list-style: disc outside;
	}

	.welcome-message {
		margin-bottom: 25px;
	}
	
	.content-main h2 {
		margin-top: 30px;
	}
}

body.cookies {
    .contactus.type1 .review-customer {
    	margin-top: 0;
    }

	.std {
		margin-top: 25px;
	}

	h3 {
		margin-bottom: 10px;
	}

	ol {
		list-style-type: none;
		margin-bottom: 15px;
	}

	.content-main ul {
		margin-bottom: 15px;
		list-style: disc outside;
	}
	
	.content-main h2 {
		margin-top: 30px;
	}
}

body.privacy {
    .contactus.type1 .review-customer {
    	margin-top: 0;
    }

	.std {
		margin-top: 25px;
	}

	h3 {
		margin-bottom: 10px;
	}
	
	.content-main h2 {
		margin-top: 30px;
	}
}

body.interest_based_ads {
	.contactus.type1 .review-customer {
    	margin-top: 0;
    }

	ol {
		list-style-type: none;
		margin-bottom: 15px;
	}

	.content-main ul {
		margin-bottom: 15px;
	}

	h3 {
		margin-bottom: 10px;
	}

	.std {
		margin-top: 25px;
	}

	.content-main h2 {
		margin-top: 30px;
	}
}

body.copyright {
    .contactus.type1 .review-customer {
    	margin-top: 0;
    }

	.std {
		margin-top: 25px;
	}
}

body.product.opacity-allow {
	#fancybox-overlay {
		opacity: 1 !important;
	}

	.fancybox-wrap {
		opacity: 1 !important;
	}
}

body.product {
	#listing-contact {
		position: absolute;
	    bottom: 0;
	    padding-left: 45px;
	    padding-right: 45px;
	}

	.listing-author-name-link {
		color: #6cf;

		&:hover {
			color: #08c;
			text-decoration: none;
		}
	}

	#fancybox-overlay {
		z-index: 2000;
		opacity: 0 !important;
	}

	.fancybox-wrap {
		opacity: 0 !important;
	}

	.fancybox-wrap.fancybox-opened {
		z-index: 2010;
	}

	#product_image_big.product-carousel {
		max-width: 900px;
		max-height: 600px;
		width: 840px;
		height: 600px;

		.theme-owl-carousel.owl-carousel.owl-theme {
			.item {
				img {

				}
			}
		}
	}
}

.btn,
.btn-default {
	border-radius: 0;
}

body.transction-new {
	#message {
	    width: 100%;
	    height: 111px;
	}
}

body.free_transactions.contact {
	label {
		display: block;
	}

	#listing_conversation_content {
		display: block;
		height: 111px;
		width: 100%;
	}
}

body.admin.categories-new,
body.admin.categories-edit,
body.admin.custom-fields-create {
	label {
		display: block;
	}

	.row {
		margin-bottom: 30px;
	}
}

body.admin.custom-fields-new {
	label {
		display: block;

		&.custom-field-category-checkbox-label {
			display: inline;
		}
	}

	.row {
		margin-bottom: 13px;
	}

	form .checkbox-container input[type=checkbox] {
        top: 0;
	}

	.custom-field-categories-checkbox-container, .category-listing-shapes-checkbox-container {
    	min-width: 290px;
    	margin-left: 10px;
    }

    .add-custom-field-buttons {
    	margin-top: 40px;
    }
}


body.admin.custom-fields-edit {
	label {
		display: block;

		&.custom-field-category-checkbox-label {
			display: inline;
		}
	}

	.row {
		margin-bottom: 13px;
	}

	form .checkbox-container input[type=checkbox] {
        top: 0;
	}

	.custom-field-categories-checkbox-container, .category-listing-shapes-checkbox-container {
    	min-width: 290px;
    	margin-left: 10px;
    }

    .add-custom-field-buttons {
    	margin-top: 40px;
    }
}


body.admin.communities-edit-welcome-email {
	label {
		display: block;

		&.custom-field-category-checkbox-label {
			display: inline;
		}
	}

	.row {
		margin-bottom: 13px;
	}

	form .checkbox-container input[type=checkbox] {
        top: 0;
	}

	.custom-field-categories-checkbox-container, .category-listing-shapes-checkbox-container {
    	min-width: 290px;
    	margin-left: 10px;
    }

    .add-custom-field-buttons {
    	margin-top: 40px;
    }

    .left-navi-section form {
        padding-top: 0;
    }

}

body.auto_attributes_assigners {
	.btn-default {
	    padding: 5.5px 19px;
	}

	table {
		th:first-child {
			width: 60px
		}

		th,
		td {
			text-align: center;
		}
	}
}

body.auto_attributes_assigners_new,
body.auto_attributes_assigners_edit {
	h4 {
	    font-size: 26px;
	    margin-bottom: 15px;
	    margin-top: 30px;
	    color: #888;
	}

	.new_listing_form_field_container .field-container {
	    margin: 0 15px 30px;

	    & > label {
	    	width: 45%;

	    }

	    & > select {
	     	width: 45%;
	    }
	}

	form .field-container .checkbox-container input[type=checkbox] {
	    position: absolute;
	    top: 0.9375em;
	    margin-top: 0;
	    vertical-align: middle;
	    position: static;
	    font-size: 24px;
	    width: 16px;
	    height: 16px;
	}
}


body.admin.admin_settings {
	label {
		display: block;

		&.custom-field-category-checkbox-label {
			display: inline;
		}
	}

	.row {
		margin-bottom: 13px;
	}

	form .checkbox-container input[type=checkbox] {
        top: 0;
	}

	.custom-field-categories-checkbox-container, .category-listing-shapes-checkbox-container {
    	min-width: 290px;
    	margin-left: 10px;
    }

    .add-custom-field-buttons {
    	margin-top: 40px;
    }

    .settings-checkbox-label.label {
    	color: #333;
    }
}

body.category_page {
	.wrapper-fulid {
	
	}

	.product-list-title {
		margin-bottom: 50px;
	}

	.category-bottom {
		margin-top: 45px;
	}

	h4 {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.product .image {
	    border: 1px solid #eee;
	}

	.grid-item .image img {
		@media (min-width: 992px) {
	    	height: 270px;
	    }
	}

	.home-products.wrapper {
		.grid-item .image img {
		    @media (min-width: 992px) {
		    	height: 356px;
		    }
		}
	}
}

body.info {
  .marketplace-lander {
    height: 80px;
    .title-container {
      padding: 30px 0 0;

      .title-header-wrapper {
        padding-left: 0;
      }
    }
  }
}

body.people-settings {
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}
}

body.people-profile {
	.row {
		margin-left: 0;
		margin-right: 0;
	}

	.icon-with-text-container {
		.icon-part {
			text-decoration: none;
		}
		.text-part {
			line-height: 24px;
		}
	}

	.fluid-thumbnail-grid-image-price {
	    color: #888;
	}
}

body.admin {
	color: #666;

	th {
		color: #b2b2b2;
	}

	.marketplace-lander {
		height: 1px;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}

	.page-content {
		padding-bottom: 0;
		min-height: 926px;
		padding-top: 0;

		h2 {
			color: #888;
		}

		p {
			font-size: 16px;
			color: #aaa;
			max-width: none;
    		width: 100%;
    		line-height: 20px;
		}

		.container {
			width: auto;
		}
	}

	.info-text-container {
		margin-top: 8px;
	}

	.left-navi-section {
		h3 {
			font-size: 22px;
	    	color: #888;
		}

		form {
			padding-top: 12px;
		}

		table {
			border: 1px solid #f1f1f1;
		}
	}

	.icon-edit {
		&.disabled {
			color: #b2b2b2;
		}
	}

	.custom-fields-action-edit,
	.custom-fields-expiration-edit {
		color: #08c;

		&:hover {
			text-decoration: none;
			color: #c80;
		}

	}

	.custom-fields-list-title, 
	.custom-fields-mobile-list-title {
	    font-weight: bold;
	    padding-top: 10px;
	    color: #888;
	    padding-bottom: 10px;
	}

	.left-navi-link-icon{
		text-decoration: none;

		:hover {
			text-decoration: none;
		}
	}


	.new-custom-field-type-form {
	    margin-top: 45px;
	    padding: 0 15px;
	}
}

body.topbar {
	#post-new-listing-button-table {
		margin-bottom: 30px;
	}
}

body.community-customizations {
	.translation-wrapper {
		margin-top: 20px;

	}

	.info-text-container {
		margin-top: 8px;
	}

}

body.invitation-new {
	p {
		color: #888;
	}

	#invitation_email {
		height: 30px;
		overflow-y: hidden;
	}

	#invitation_message_text {
		height: 120px;
	}
}

body.categories {
	.left-navi-section {
		#categories-list {
			.row {
				margin: 0;
			}
		}
	}
}

body.social_media {
	.left-navi-section {
	}
}



body.transactions {
	#admin_transactions {
		margin-top: 10px;
	}
}

body.community-memberships {

}

body.getting-started-guide {
	h2 {
		font-size: 20px;
	}

	.content-main ul {
		a,
		span {
			 font-size: 16px;
			 line-height: 30px;
		}
	}

	.page-content {
		h2 {
			font-size: 20px;
		}
	}
}


body.contactus {
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.new-feedback-form.centered-section {
		margin-top: 0;
	}

	.row {
		margin-bottom: 0;
	}
}

body.login {
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}
}

body.register-account {
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}
}

body.product {
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}

	button {
		background-color: #fff;
	}

	.shop.type1 {
		.product-summary .cart .list-float-left input {
		    min-height: 0;
		}
	}

	.share {
		.listing-social {
			padding-top: 10px;
		}
	}

	.select .size li a {
	    line-height: 30px;
	    display: block;
	}
}

body.static_pages {
	color: #666;

	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}
}

body.new-listing,
body.edit-listing {
	color: #666;

	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}

	.listing_description_textarea {
		
		height: 90px !important;
    	width: 100%;
	}

	.feed-actions .request-link, .view-item .listing-icons a:hover, .pagination a, a, .checkbox-option-checkmark {
	    color: #999;
	}

	form .checkbox-container input[type=checkbox] {
        top: 0;
	}

	label {
		margin-top: 25px;
		display: block;
	}

	.delivery-left-field label {
		margin-top: 0;
	}

	legend {
		color: #777;
		font-size: 16px;
		margin-top: 25px;
		margin-bottom: 0;
	}

	button.send_button {
		border: 1px solid #444645;
		border-radius: 0px;
		color: #444645;
		background-color: #fff;
		font-size: 14px;
		font-weight: bold;
		padding: 10.5px 29px;
		font-family: "Roboto Condensed";
		letter-spacing: 1.2px;
		
		&:active,
		&:hover,
		&:focus {
			color: #fff;
			background-color: #6cf;
			border-color: #6cf;
		}
		
		&:hover:focus {
			background-color: lighten(#6cf, 5%);
			border-color: #6cf;
			color: #fff;
		}
	}

	#listing_origin {
		width: 100%;
    	margin-bottom: 1px;
	}

	.jsmap {
		height: 600px;
	}


}

.category_page .category-top .gridlist-toggle {
    margin-right: 0;
}