// The fonts file has to be the first one, since there are @imports in the fonts file
//= require ./fonts

// Vendor
//= require jquery.nouislider
//= require jquery.fileupload
//= require datepicker3
//= require selectize

// Theme
//= require ./css/theme-elements
//= require ./css/theme-shop
//= require ./css/theme
//= require ./css/theme-font/css/pesto

//= require ./reset
//= require ./main

//= require_tree ./partials
//= require_tree ./views

.btn,
.btn-default {
	border-radius: 0;
}

body.info {
  .marketplace-lander {
    height: 80px;
    .title-container {
      padding: 30px 0 0;

      .title-header-wrapper {
        padding-left: 0;
      }
    }
  }
}


body.contactus {
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.new-feedback-form.centered-section {
		margin-top: 0;
	}

	.row {
		margin-bottom: 0;
	}
}

body.login {
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}
}

body.register-account {
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}
}

body.product {
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}

	button {
		background-color: #fff;
	}

	.shop.type1 {
		.product-summary .cart .list-float-left input {
		    min-height: 0;
		}
	}

	.share {
		.listing-social {
			padding-top: 10px;
		}
	}

	.select .size li a {
	    line-height: 30px;
	    display: block;
	}
}

body.static_pages {
	color: #666;
	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}
}

body.new-listing {
	color: #666;

	.marketplace-lander {
		height: 1px;
	}

	.page-content {
		padding-top: 0;
	}

	.row {
		margin-bottom: 0;
	}

	h1,
	h2 {
		font-weight: normal;
	}

	.listing_description_textarea {
		height: 90px;
	}

	.feed-actions .request-link, .view-item .listing-icons a:hover, .pagination a, a, .checkbox-option-checkmark {
	    color: #999;
	}

	legend {
		color: #777;
		font-size: 16px;
	}

	button.send_button {
		border: 1px solid #444645;
		border-radius: 0px;
		color: #444645;
		background-color: #fff;
		font-size: 14px;
		font-weight: bold;
		padding: 10.5px 29px;
		font-family: "Roboto Condensed";
		letter-spacing: 1.2px;
		
		&:active,
		&:hover,
		&:focus {
			color: #fff;
			background-color: #6cf;
			border-color: #6cf;
		}
		
		&:hover:focus {
			background-color: lighten(#6cf, 5%);
			border-color: #6cf;
			color: #fff;
		}
	}

	.header-main .header-main-nav .nav li a.hidden {
	    display: block !important;
	}
}