<section id="content" class="home1">
<!-- Start Content-Header -->
<div class="content-header">
<div id="rev_slider_wrapper1" class="rev-slider-wrapper" style="position: relative">
<div id="rev_slider1" class="rev-slider fullwidthbanner" data-version="5.0.7">
<ul>
<li data-transition="boxslide">
<img src="assets/banner/banner1_4.jpg" alt="Jewelry&Watch" data-bgposition="center center" 
data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
</li>
<li data-transition="papercut">
<img src="assets/banner/banner3_4.jpg" alt="Jewelry&Watch" data-bgposition="center center" 
data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
</li>
<li data-transition="slidingoverlayhorizontal">
<img src="assets/banner/banner_4_3.jpg" alt="Jewelry&Watch" data-bgposition="center center" 
data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg">
</li>
</ul>
</div>
</div>
</div>
</section>