%footer#footer.footer-nologo
  .footer-main
    .wrapper
      .row
        .col-md-3.col-sm-3
          %h4 Selling on Hazrati
          / Start foot-info
          .foot-info
            %ul
              %li
                %a{:href => "#"} Open a Store
              %li
                %a{:href => "#"} Seller Manual
              %li
                %a{:href => "#"} View All Sellers
              %li
                %a{:href => "#"} View All Craftsmen
              %li
                %a{:href => "#"} Sellers  Craftsment
          / End foot-info
        / End col-md-3
        .col-md-3.col-sm-3
          %h4 Tools  Resources
          / Start foot-service
          .foot-service
            %ul
              %li
                %a{:href => "#"} Affilates
          / End foot-service
        / End col-md-3
        .col-md-3.col-sm-3
          %h4 Gift  Education
          / Start foot-account
          .foot-account
            %ul
              %li
                %a{:href => "#"} Gift Cards
              %li
                %a{:href => "#"} Blog
              %li
                %a{:href => "#"} Gift Registries
          / End foot-account
        / End col-md-3
        .col-md-3.col-sm-3
          .support
            %h4 All About US
            / Start foot-support
            .foot-support
              %ul
                %li
                  %a{:href => "#"} About
                %li
                  %a{:href => "#"} Investors
                %li
                  %a{:href => "/return-and-refund-policy"} Return  Refund Policy
                %li
                  %a{:href => "#"} Contact Us
            / End foot-support
          / Start follow
          .follow
            .footer-follow
              %ul.list-float-left
                %li
                  %a.facebook.icon-button.smaller.border-none{:href => "#"}
                    %i.demo-icon.pesto-icon-facebook
                %li
                  %a.twitter.icon-button.smaller.border-none{:href => "#"}
                    %i.demo-icon.pesto-icon-twitter
                %li
                  %a.instagram.icon-button.smaller.border-none{:href => "#"}
                    %i.demo-icon.pesto-icon-instagram
                %li
                  %a.google.icon-button.smaller.border-none{:href => "#"}
                    %i.demo-icon.pesto-icon-google
                %li
                  %a.pinterest.icon-button.smaller.border-none{:href => "#"}
                    %i.demo-icon.pesto-icon-pinterest
            / End foot-follow
          / End follow
        / End col-md-3
      / End row
    / End .wrapper
  .join.clearfix
    .wrapper
      / Start footer-join
      .footer-join
        %h3
          JOIN THE COMMUNITY
        #joinEmailSuccess.alert.alert-success.hidden
          %strong Success!
          You've been added to our email list.
        #joinEmailDanger.alert.alert-danger.hidden
        / Start emailForm
        %form#emailForm{:action => "php/email.php", :method => "POST", :novalidate => "novalidate"}
          .input-group
            %input#yourEmail.form-control{"aria-invalid" => "true", "aria-required" => "true", :name => "yourEmail", :placeholder => "your@email.com", :type => "text"}
              %button.btn.icon-button.large{:type => "submit"}
                %i.pesto-icon-keyboard
          / End emailForm
        / End footer-join
        .footer-links.clearfix
          %ul
            %li
              %a{:href => "#"} About Us
            %li
              %a{:href => "#"} Information
            %li
              %a{:href => "#"} Terms  Conditions
            %li
              %a{:href => "#"} Privacy Policy
            %li
              %a{:href => "#"} Sitemap
            %li
              %a.free{:href => "#"} Free Delivery
            %li
              %a{:href => "#"} Privacy
    / End Footer-main
  / End footer
