<footer id="footer" class="footer-nologo">
<div class="footer-main">
<div class="wrapper">
<div class="row">
<div class="col-md-3 col-sm-3">
<h4>Selling on Hazrati</h4>
<!-- Start foot-info-->
<div class="foot-info">
<ul>
<li><a href="#">Open a Store</a></li>
<li><a href="#">Seller Manual</a></li>
<li><a href="#">View All Sellers</a></li>
<li><a href="#">View All Craftsmen</a></li>
<li><a href="#">Sellers & Craftsment</a></li>
</ul> 
</div> <!-- End foot-info -->
</div><!-- End col-md-3 -->    
<div class="col-md-3 col-sm-3">
<h4>Tools & Resources</h4>
<!-- Start foot-service-->
<div class="foot-service">
<ul>
<li><a href="#">Affilates</a></li>
</ul> 
</div> <!-- End foot-service -->
</div><!-- End col-md-3 -->
<div class="col-md-3 col-sm-3">
<h4>Gift & Education</h4>
<!-- Start foot-account-->
<div class="foot-account">
<ul>
<li><a href="#">Gift Cards</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Git Registries</a></li>
</ul> 
</div> <!-- End foot-account -->
</div><!-- End col-md-3 -->
<div class="col-md-3 col-sm-3">
<div class="support">
<h4>All About US</h4>
<!-- Start foot-support-->
<div class="foot-support">
<ul>
<li><a href="#">About</a></li>
<li><a href="#">Investors</a></li>
<li><a href="#">Return & Refund Policy</a></li>
<li><a href="#">Contact Us</a></li>
</ul> 
</div> <!-- End foot-support -->
</div>
<!-- Start follow -->
<div class="follow">
<div class="footer-follow">
<ul class="list-float-left">
<li><a href="#" class="facebook icon-button smaller border-none"><i class="demo-icon pesto-icon-facebook"></i></a></li>
<li><a href="#" class="twitter icon-button smaller border-none"><i class="demo-icon pesto-icon-twitter"></i></a></li>
<li><a href="#" class="pinterest icon-button smaller border-none"><i class="demo-icon pesto-icon-pinterest"></i></a></li>
<li><a href="#" class="instagram icon-button smaller border-none"><i class="demo-icon pesto-icon-instagram"></i></a></li>
<li><a href="#" class="skype icon-button smaller border-none"><i class="demo-icon pesto-icon-skype"></i></a></li>
<li><a href="#" class="envelope icon-button smaller border-none"><i class="demo-icon pesto-icon-email"></i></a></li>
</ul> 
</div> <!-- End foot-follow -->
</div><!-- End follow -->
</div><!-- End col-md-3 -->

</div><!-- End row-->
</div><!-- End .wrapper -->
</div>
<div class="join clearfix">
<div class="wrapper">
<!-- Start footer-join -->
<div class="footer-join">
<h3>
JOIN THE COMMUNITY
</h3>
<div class="alert alert-success hidden" id="joinEmailSuccess">
<strong>Success!</strong>
You've been added to our email list.
</div>
<div class="alert alert-danger hidden" id="joinEmailDanger">
</div>
<!-- Start emailForm -->
<form id="emailForm" action="php/email.php" method="POST" novalidate="novalidate">
<div class="input-group">
<input class="form-control" placeholder="your@email.com" id="yourEmail" name="yourEmail" type="text" aria-required="true" aria-invalid="true">
<button class="btn icon-button large" type="submit"><i class="pesto-icon-keyboard"></i></button>
</div>
</form>
<!-- End emailForm -->
</div>
<!-- End footer-join -->
<div class="footer-links clearfix">
<ul>
<li><a href="#">About us</a></li>
<li><a href="#">Information</a></li>
<li><a href="#">Terms &amp; Conditions</a></li>
<li><a href="#">Privacy Policy</a></li>
<li><a href="#">Sitemap</a></li>
<li><a href="#" class="free">Free Delivery</a></li>
<li><a href="#">Privacy</a></li>
</ul>
</div>
</div>
</div><!-- End Footer-main-->
</footer><!-- End footer-->