<script src="assets/vendor/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="assets/vendor/owlcarousel/owl.carousel.min.js"></script> 
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/revolution/js/jquery.themepunch.tools.min.js?rev=5.0"></script>
<script src="assets/vendor/revolution/js/jquery.themepunch.revolution.min.js?rev=5.0"></script>
<script src="assets/vendor/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="assets/vendor/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="assets/vendor/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="assets/vendor/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="assets/vendor/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="assets/vendor/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="assets/vendor/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="assets/vendor/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="assets/vendor/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="assets/theme.js"></script>