= javascript_include_tag '/assets/main'

<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

= javascript_include_tag 'vendor/owlcarousel/owl.carousel.min'

= javascript_include_tag 'vendor/bootstrap-select/bootstrap-select.min'

